$background-color: #f06292;
$text-color: #f1d3b3;
$btn-width: 120px;
$btn-height: 40px;
$block-padding: 60px;
$library-box-padding:16px;
$library-box-heading:rgba(0, 74, 137, 0.55);
$library-box-shadow:0px 3px 10px -3px rgba(0, 102, 190, 0.2);
$white:#ffffff;
$voilet:#8A4E9C;
$yellow:#FFBE2C;
$green:#00D4C0;
$black:#000000;
$primary-color:#0066BE;