body {
  margin: 0;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* CUSTOM CSS START BY VARUN */

.step1,
.step2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dashed #e5e5e5;
  margin: 0 auto;
  margin: 20px;
  height: auto;
  padding: 25px 25px;
  cursor: pointer;
}

.btn-cancel,
.btn-nxt {
  float: left;
  width: auto;
}

#box_border {
  border: 3px dashed #e5e5e5;
}
ul.toppings-list {
  float: left;
  width: auto;
  max-height: 150px;
  overflow-y: auto;
  list-style: none;
  border: 2px solid;
  border-radius: 4px;
}
.toppings-list .left-section {
  padding: 5px;
}
.toppings-list .left-section input {
  margin: 5px 10px;
}
.rm_border {
  border: none !important;
}

img.custom_img.active {
  border: 2px solid green;
}

/** Registration webinar popup**/
.webinar-registration
  #add_hcp
  .modal-body
  .hcp-add-box
  .hcp-add-form.tab-content {
  width: 100%;
  overflow: initial;
}

.modal.webinar-registration
  .modal-body
  .hcp-add-box
  .tab-content
  .add_hcp_boxes {
  padding-right: 0;
  width: 100%;
}

.webinar-registration
  .modal-body
  .hcp-add-box
  .hcp-add-form.tab-content
  #add_hcp_form {
  width: 100%;
}
.modal.webinar-registration form#add_hcp_form .add_hcp_boxes {
  display: flex;
  justify-content: space-between;
  padding-right: 0;
  width: 100%;
}
.webinar-registration
  #add_hcp
  .modal-body
  .hcp-add-form
  form
  .add_hcp_boxes
  .form_action {
  margin: 0;
  max-width: 100%;
}
button.btn.add-option {
  min-width: 180px;
  margin: 10px auto 0;
  display: flex;
  text-align: center;
  justify-content: center;
}
.webinar-registration #add_hcp .modal-body .hcp-add-box {
  overflow-y: auto;
}
.webinar-registration #add_hcp .modal-footer {
  gap: 0 16px;
  padding-top: 10px;
}
.webinar-registration.modal .modal-header {
  padding: 11px 11px;
}
