body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


/* CUSTOM CSS START BY VARUN */

.step1, .step2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px dashed #E5E5E5;
    margin: 0 auto;
    margin: 20px;
    height: auto;
    padding: 25px 25px;
    cursor: pointer;
}

.btn-cancel, .btn-nxt{
  float: left;
  width: auto;
}

#box_border {
  border: 3px dashed #E5E5E5;
}
ul.toppings-list {float: left;width: auto;max-height: 150px;overflow-y: auto;list-style: none;border: 2px solid;border-radius: 4px;}
.toppings-list .left-section {padding: 5px;}
.toppings-list .left-section input {
    margin: 5px 10px;
}
