@use "sass:math";
@import "./mixins";
@import "./variables";

.library-content-box-layuot {
  margin-top: 30px;
  gap: 0% 5%;
  flex-wrap: wrap;
  .doc-content-main-box {
    background: $white;
    box-shadow: $library-box-shadow;
    border-radius: 20px;
    padding: $library-box-padding;
    margin: 40px 0 20px;
    width: 100%;
    flex: 0 0 30%;
    position: relative;
    .doc-content-header {
      display: flex;
      margin-bottom: 20px;
    }
    .doc-content-header-logo {
      width: 67px;
      margin-right: 12px;
      img {
        filter: drop-shadow(0px 0px 6px rgba(0, 102, 190, 0.29));
      }
    }
    .doc-content {
      h5 {
        @include h5;
        color: $primary-color;
      }
      h6 {
        @include h6;
      }
      p {
        @include p;
        color: $library-box-heading;
        margin: 0 0 10px;
      }
      .select-tags {
        display: flex;
        flex-wrap: wrap;
        div {
          background: #e7f4ff;
          border-radius: 3px;
          font-weight: 300;
          font-size: 11px;
          line-height: 13px;
          color: $primary-color;
          margin: 0 8px 5px 0;
          padding: 2px 10px;
        }
      }
    }
    .tab-content {
      .tab-content-links {
        a {
          @include h6;
          color: $library-link;
          text-decoration: none;
        }
        span.copy-content {
          margin-left: 8px;
          cursor: pointer;
        }
      }
      .tab-mail-list {
        margin-bottom: 60px;
        padding: 0;
        h6 {
          @include h6;
          color: #004a89;
        }
        h6.tab-content-title {
          font-weight: 500;
          color: $library-box-heading;
          flex: 0 0 150px;
          img {
            width: 12px;
            margin-left: 4px;
          }
        }
      }
      .footer-btn-wrapper {
        margin: 0px 0px;
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
        a.footer-btn {
          display: inline-block;
          background: $white;
          border: 1px solid $primary-color;
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
          border-radius: 50px;
          padding: 7px 16px;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          color: $primary-color;
          text-decoration: none;
          min-width: 30%;
        }
      }
    }
  }

}

.tab-mail-list.data .progress {
  width: 182px;
  background: rgba(151, 182, 207, 0.2);
  border-radius: 27px;
  height: 24px;
}

.tab-mail-list.data .progress .progress-bar {
  border-radius: 27px;
  padding: 5px 7px;
  min-width: 25px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.tab-mail-list.data .progress .progress-bar.bg-warning {
  color: #AA7D17;
  background: #FAC755!important;
}

.tab-mail-list.data .progress .progress-bar.bg-success {
  background: #00D4C0!important;
  color: #05766B;
}

.tab-mail-list.data .progress .progress-bar.bg-danger {
  color: #A53239;
  background: #F58289!important;
}
.data-progress span {
  font-size: 11px;
  line-height: 13px;
  color: rgba(0, 74, 137, 0.5);
}
.doc-content h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #0066be;
  margin-bottom: 6px;
}

.doc-content-main-box .nav-pills button.nav-link.active {
  color: #fff !important;
  box-shadow: -11px 0px 15px rgba(0, 102, 190, 0.1);
  background: #0066be;
  border-color: #0066be;
}

.doc-content-main-box .nav-pills .nav-link {
  background: #ffffff;
  border: 1px solid #0066be;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #0066be;
  padding: 13px 18px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  margin-right: 8px;
  min-width: 140px;
  display: inline-block;
  outline: 0;
}

.doc-content-header .refresh-btn {
  margin-left: auto;
  padding-left: 10px;
}

.doc-content-main-box .doc-tab {
  margin: 16px auto 25px 0;
}

.doc-content-main-box .tab-content.doc-tab-content a.doc-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0066be;
}

.doc-content-main-box ul.tab-mail-list.tag {
  padding: 0;
  border: 0;
  margin: 0;
}

.doc-content-main-box ul.tab-mail-list li {
  display: flex;
  align-items: center;
  margin: 0 0 3px;
}

.doc-content-main-box ul.tab-mail-list li h5 {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #70899e;
  margin: 0 0 7px;
}

.doc-content-main-box ul.tab-mail-list li p {
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  color: #70899e;
}

.footer-btn-wrapper a.footer-btn:hover {
  background: #e7f4ff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-color: #e7f4ff;
}

/* ============ Data-Tab  ============ */

.doc-content-main-box ul.tab-mail-list.data {
  padding: 0;
  border: 0;
}

.doc-content-main-box ul.tab-mail-list.data li {
  margin-bottom: 3px;
}

.doc-content-main-box ul.tab-mail-list.data li h6 {
  flex: 0 0 200px;
}

.doc-content-main-box ul.tab-mail-list.data li p {
  background: #97b6cf;
  border-radius: 30px;
  color: #fff;
  padding: 3px 10px;
  min-width: 98px;
  text-align: center;
  margin: 0;
  line-height: initial;
  flex: 1 1;
}

.doc-content-header .doc-content-header-logo {
  width: 70px;
  margin-right: 15px;
}

.doc-content-header .refresh-btn {
  margin-left: auto;
  padding-left: 10px;
}

.refresh-btn img {
  cursor: pointer;
}

.doc-content-main-box .nav-tabs {
  border: 0;
  margin: 0 -16px 0;
  margin-bottom: 0 !important;
}
.doc-content-main-box .nav-tabs .nav-item {
  margin-right: 0;
}

.tab-content .tab-content-links {
  margin-bottom: 8px;
}
.doc-content-main-box .nav-tabs .nav-item button.active {
  background: #0066be;
  color: #fff;
}

.doc-content-main-box .nav-tabs .nav-item:last-child {
  margin-right: 0;
}

ul.tab-mail-list.tag b {
  color: #5c7a94;
  font-size: 15px;
}

ul.tab-mail-list.tag a {
  border-radius: 15px;
  background-color: #eeefef;
  padding: 2px 11px;
  font-size: 11px;
  text-decoration: none;
  color: #484848;
  margin: 0 3px;
  line-height: 17px;
}

.doc-content-main-box ul.tab-mail-list.data li h5 img {
  max-width: 15px;
}

.doc-content-main-box .tab-pane .data-main-box {
  display: flex;
  height: 100%;
  flex-direction: column;
  min-height: 327px;
  justify-content: space-between;
}

.doc-content-main-box .tab-content {
  height: calc(100% - 157px);
}

.doc-content-main-box .tab-content .tab-panel,
.doc-content-main-box .tab-content .tab-pane {
  height: 100%;
}

.doc-content-main-box .tab-content .tab-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data-main-footer-sec .footer-btn {
  text-align: center;
}

.data-main-footer-sec .footer-btn button {
  padding: 9px;
  font-size: 15px;
  margin-bottom: 4px;
}

.doc-content-main-box ul.tab-mail-list.data b {
  color: #5c7a94;
  font-size: 15px;
}

.doc-content-main-box ul.tab-mail-list.data a.tags {
  border-radius: 15px;
  background-color: #eeefef;
  padding: 4px 11px;
  font-size: 11px;
  text-decoration: none;
  color: #484848;
  margin: 0 3px;
}

.doc-content-main-box ul.tab-mail-list.data.change li h5 {
  flex: 0 0 150px;
}

ul.tab-mail-list.data li .select-dropdown-wrapper select {
  box-shadow: 0px 1px 6px rgb(0 102 190 / 20%);
  border-radius: 30px;
  border: 0;
  padding: 6px 14px 7px 14px;
  width: 100%;
  color: #97b6cf;
  font-weight: 300;
  appearance: none;
  background: transparent;
  font-size: 14px;
}

select::-ms-expand {
  display: none;
}

.select-dropdown-wrapper .select {
  min-width: 200px;
  //   background: #fff url(./Components/assets/images/dropdown-arrow.svg);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 93% center;
  box-shadow: 0px 1px 6px rgb(0 102 190 / 20%);
  border-radius: 30px;
}

.readers.search_view .top-right-action.library_content_view {
  width: auto;
  flex-wrap: wrap;
}

.library_create-box {
  background: #ffffff;
  border: 1px solid #87bdf3;
  box-shadow: 0px 3px 10px -3px rgba(0, 102, 190, 0.2);
  border-radius: 30px;
  position: relative;
  flex: 0 0 25%;
  max-width: 370px;
  padding: 0 20px 20px;
  cursor: pointer;
}

.library_create-box:hover,
.library_create-box.active {
  border: 1px solid #0066be;
}

.library_create-box .create-library-img {
  background: #92c7fc;
  box-shadow: 0px 3px 8px -3px rgba(0, 102, 190, 0.2);
  padding: 32px;
  width: 103px;
  height: 103px;
  border-radius: 50%;
  position: relative;
  top: -25px;
  left: -60px;
}

.library_create-box:hover .create-library-img,
.library_create-box.active .create-library-img {
  background: #0066be;
}

.library_create-box .create-library-img img {
  width: 100%;
}

.library_create {
  gap: 102px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.library_create-box .create-library-content {
  text-align: center;
  position: relative;
  top: -18px;
}

.library_create-box .create-library-content h4 {
  color: #0066be;
  font-weight: 700;
}

.library_create-box .create-library-content p {
  color: #4d4d4d;
}
.doc-content-main-box .nav-tabs .nav-item button.active {
  color: #0066be;
  background: #ffffff;
  mix-blend-mode: normal;
  box-shadow: 0px -5px 8px rgb(0 102 190 / 8%);
  border-radius: 20px 20px 0 0;
}
.doc-content-main-box .nav-tabs .nav-item button {
  border: 0;
  font-size: 11px;
  line-height: 13px;
  font-weight: 500;
  padding: 10px;
  color: rgba(0, 102, 190, 0.5);
}
.doc-content-main-box .tab-content {
  height: calc(100% - 157px);
  background: #ffffff;
  mix-blend-mode: normal;
  box-shadow: 0px -4px 8px rgb(0 102 190 / 7%);
  border-radius: 0px 20px 20px 20px;
  margin: 1px -16px 0;
  padding: 20px 16px 0;
}
/**Library Style End**/

/**Readers Start**/

.readerlist .doc-content-main-box {
  padding: 25px 25px 15px;
}

.readerlist .data-main-footer-sec .footer-btn button {
  margin-top: 18px;
  min-width: 120px;
}

.readerlist .doc-content-main-box .tab-content {
  height: calc(100% - 97px);
}

.readerlist .data-main-box ul.tab-mail-list {
  padding-top: 0;
}

.readerlist .doc-content-main-box .doc-content-header {
  margin-bottom: 5px;
}

.readerlist .doc-content-main-box ul.tab-mail-list {
  padding: 0px 0 0;
}

.readerlist .doc-content-main-box ul.tab-mail-list.data.change li {
  margin-bottom: 10px;
}

.footer-btn button a {
  text-decoration: none;
}

.search_view .top-right-action .clear-search {
  margin: 0;
}

.create-reader label.form-label {
  color: #004a89;
  font-size: 16px;
  line-height: 19px;
  flex: 1 1;
}

.create-reader .form-control {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 102, 190, 0.2);
  border-radius: 30px;
  border: 0;
  padding: 12px 20px;
  font-size: 14px;
  color: #4e718e;
  background: var(--white);
  width: calc(100% - 140px);
  resize: none;
}

.create-reader .form-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 25px;
}

.create-reader .form-group input,
.create-reader .form-group .form-product-list,
.create-reader .form-group .form-interest-area {
  width: calc(100% - 140px);
}

.create-reader .form-group .form-product-list,
.create-reader .form-group .form-interest-area {
  box-shadow: 0px 1px 6px rgb(0 102 190 / 20%);
  border-radius: 30px;
  border: 0;
  padding: 12px 20px;
  font-size: 14px;
  color: #4e718e;
  background: var(--white);
}

.create-reader .form-group .form-product-list select,
.create-reader .form-group .form-interest-area select {
  width: 100%;
  box-shadow: none;
  border-radius: 0px;
  padding: 0px;
}

.single-reader.create-reader {
  max-width: 1330px;
  margin: 0 auto;
}

.create-reader h4 {
  color: #004a89;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: unset;
}

.create-reader h6,
.create-reader .form-title label.form-label {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #004a89;
  font-weight: 500;
  margin-bottom: 30px;
}

.create-reader .form-title label.form-label,
.create-reader .form-title {
  margin: 0 !important;
}

.create-reader .form-group .dropdown {
  width: calc(100% - 140px);
}

.create-reader .form-group .dropdown button {
  padding: 11px 20px;
  background-position: 96% center;
}

.create-reader .form-group .dropdown button:after {
  display: none;
}

.create-reader .form-group .dropdown-menu {
  width: 100%;
  max-width: 100%;
}

.form-group input:focus {
  box-shadow: 0px 0px 5px rgb(0 102 190 / 87%);
  color: var(--blue);
}

.create-reader ::-webkit-input-placeholder {
  color: #97b6cf;
  opacity: 1;
}

.create-reader ::-moz-placeholder {
  color: #97b6cf;
  opacity: 1;
}

.create-reader :-ms-input-placeholder {
  color: #97b6cf;
  opacity: 1;
}

.create-reader :-moz-placeholder {
  color: #97b6cf;
  opacity: 1;
}

.create-reader .form-control[multiple] {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.header-btn button.upload {
  padding: 10px 14px;
}

.header-btn button.upload svg {
  width: 18px;
  height: auto;
  margin-right: 2px;
}

.header-btn button.upload:hover svg path {
  fill: #fff;
}

.send-confirm .modal-body p {
  color: #97b6cf;
}

.send-confirm .modal-body p a {
  color: #0066be;
  font-weight: 600;
}

#upload-confirm .upload-file-box {
  max-width: 520px;
}

.sidebar-menu ul li a svg {
  max-height: 22px;
}

.create-reader form {
  max-width: 1350px;
  margin: 50px auto 20px;
}

.vertical-timeline.vertical-timeline--animate:before {
  left: calc(50% - 7px);
  margin-left: 0;
  //   background-image: url(./componentAssets/images/timeline-bg-w.png);
  background-repeat-x: repeat;
  width: 15px;
  height: 100%;
}

.filter-by .dropdown button {
  min-width: 180px;
}

.top-header.reader_list {
  padding-bottom: 35px;
}

.btn-check:active + .btn-success:focus,
.btn-check:checked + .btn-success:focus,
.btn-success.active:focus,
.btn-success:active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0px 0px 6px 0px rgb(0 102 190 / 60%);
}

.switch6 {
  max-width: 64px;
  padding: 4px 4px;
  width: 64px;
  box-shadow: 0px 1px 6px rgba(0, 102, 190, 0.2);
  height: 32px;
  background: rgba(0, 102, 190, 0.2);
  border-radius: 26px;
}

.switch6-light {
  display: block;
  height: 28px;
  position: relative;
  overflow: visible;
  padding: 0px;
  margin-left: 0px;
}

.switch6-light input {
  position: absolute;
  opacity: 0;
  z-index: 5;
}

.switch6-light span span {
  position: absolute;
  top: 0px;
  left: -2.5px;
  z-index: 5;
  display: block;
  width: 50%;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  cursor: pointer;
}

.switch6-light span span:last-child {
  left: 53%;
}

.switch6-light span span img {
  width: 12px;
  opacity: 0.4;
}

.switch6-light input[type="checkbox"]:not(:checked) ~ span span.list_view img {
  opacity: 1;
  cursor: pointer;
}

.switch6-light input[type="checkbox"]:checked ~ span span.grid_view img {
  opacity: 1;
  cursor: pointer;
}

.switch6-light input[type="checkbox"]:not(:checked) + span span:last-child,
.switch6-light input[type="checkbox"]:checked + span span:first-child {
  color: var(--blue);
}

.switch6-light a {
  position: absolute;
  right: 0%;
  top: 0px;
  z-index: 4;
  display: block;
  width: 50%;
  height: 100%;
  padding: 0px;
  background: var(--white);
  border: 0;
  border-radius: 30px;
  border-radius: 30px;
  color: var(--blue);
  transition: all 0.3s ease-out 0s;
}

.switch6-light a {
  width: 24px;
  height: 24px;
  box-shadow: 0px 0px 4px rgba(0, 102, 190, 0.2);
}

.switch6-light input[type="checkbox"]:checked ~ a.btn {
  right: 58%;
}

.smart-list-btns.readers-view {
  justify-content: space-between;
}

.filter-by .dropdown-menu {
  padding: 31px 4px 4px !important;
}

.filter-by.nav-item.dropdown.highlight button {
  line-height: 20px;
  padding: 6px 35px 6px 20px;
  color: var(--light-blue);
  //   background: #fff url(../../../../Components/assets/images/dropdown-arrow.svg) no-repeat;
  background-size: 14px;
  background-position: 93% center;
  font-size: 14px;
  border-color: transparent;
}

.top-right-action .albert-block {
  margin: 0 0 0 15px;
}

.top-right-action .albert-block label.switch6-light {
  margin: 0;
}

.create-reader .form-control[multiple] {
  height: 90px;
}

/**Readers End**/

/**Timeline**/

.vertical-timeline {
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  padding: 2em 0;
}

.vertical-timeline::after {
  content: "";
  display: table;
  clear: both;
}

.vertical-timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: var(--line-color);
}

.vertical-timeline::before {
  right: 18px;
  left: unset;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline.vertical-timeline--two-columns {
    width: 90%;
  }

  .vertical-timeline.vertical-timeline--two-columns:before {
    left: 50%;
    margin-left: -2px;
  }
}

.vertical-timeline-element {
  position: relative;
  margin: 2em 0;
}

.vertical-timeline-element > div {
  min-height: 1px;
}

.vertical-timeline-element:after {
  content: "";
  display: table;
  clear: both;
}

.vertical-timeline-element:first-child {
  margin-top: 0;
}

.vertical-timeline-element:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline-element {
    margin: 4em 0;
  }

  .vertical-timeline-element:first-child {
    margin-top: 0;
  }

  .vertical-timeline-element:last-child {
    margin-bottom: 0;
  }
}

.vertical-timeline-element-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.vertical-timeline-element-icon {
  right: 0;
  left: unset;
}

.vertical-timeline-element-icon svg {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline-element-icon {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
  }
}

.vertical-timeline-element-icon {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.vertical-timeline--animate .vertical-timeline-element-icon.is-hidden {
  visibility: hidden;
}

.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
  visibility: visible;
  -webkit-animation: cd-bounce-1 0.6s;
  -moz-animation: cd-bounce-1 0.6s;
  animation: cd-bounce-1 0.6s;
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.vertical-timeline-element-content {
  position: relative;
  margin-left: 60px;
  background: #fff;
  border-radius: 6px;
  padding: 1em;
  box-shadow: 1px 3px 11px rgba(0, 102, 190, 0.24);
}

.vertical-timeline-element-content {
  margin-right: 60px;
  margin-left: unset;
}

.vertical-timeline-element--no-children .vertical-timeline-element-content {
  background: 0 0;
  box-shadow: none;
}

.vertical-timeline-element-content:after {
  content: "";
  display: table;
  clear: both;
}

.vertical-timeline-element-content h2 {
  color: #303e49;
}

.vertical-timeline-element-content .vertical-timeline-element-date,
.vertical-timeline-element-content p {
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 500;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
  display: inline-block;
}

.vertical-timeline-element-content p {
  margin: 1em 0 0;
  line-height: 1.6;
}

.vertical-timeline-element-title {
  margin: 0 6px 0 0;
  font-weight: 600;
  font-size: 14px;
}

.vertical-timeline-element-subtitle {
  margin: 0;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
  float: left;
  padding: 0.8em 0;
  opacity: 0.7;
}

.vertical-timeline-details h6 {
  font-size: 14px;
}

.vertical-timeline-element-content-arrow {
  content: "";
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #fff;
}

.vertical-timeline-title {
  min-width: 100px;
}

.vertical-timeline-element-content-arrow {
  content: "";
  position: absolute;
  top: 16px;
  right: unset;
  left: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-left: 7px solid #fff;
}

.vertical-timeline-element-content::before {
  left: 100%;
  border-left: 7px solid #fff;
  border-right: unset;
}

.vertical-timeline-element--no-children
  .vertical-timeline-element-content::before {
  display: none;
}

.vertical-timeline-element--no-children
  .vertical-timeline-element-content-arrow {
  display: none;
}

@media only screen and (min-width: 768px) {
  .vertical-timeline-element-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }

  .vertical-timeline-element-content p {
    font-size: 16px;
    font-size: 1rem;
  }

  .vertical-timeline-element-content .vertical-timeline-element-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline-element-content {
    margin-left: 0;
    padding: 1em;
    width: 44%;
    display: flex;
  }

  .vertical-timeline-element-content-inset {
    overflow-y: auto;
    max-height: 300px;
    padding-right: 10px;
  }

  .mark-kriger-inside:last-child {
    margin-bottom: 0;
  }

  .mark-kriger-inside {
    margin-bottom: 5px;
  }

  .vertical-timeline-element-right .mark-kriger-inside .media {
    display: flex;
  }

  .vertical-timeline-element-right {
    width: 44%;
    margin-left: auto;
    background: #ffffff;
    box-shadow: -1px 0px 11px rgb(0 102 190 / 24%);
    border-radius: 15px;
    padding: 20px;
    position: relative;
  }

  .media-body .pro-bar p {
    margin: 9px 0 0;
  }

  .media-body .pro-bar p span {
    color: rgb(0, 74, 137);
    font-size: 12px;
    width: 100%;
    display: block;
    font-weight: bold;
  }

  .vertical-timeline-element--work.vertical-timeline-element {
    display: flex;
    justify-content: space-between;
  }

  .vertical-timeline-element-content {
    height: 100%;
  }

  .vertical-timeline-element-right .mark-kriger-inside h3 {
    font-weight: 600;
    font-size: 16px;
    color: rgb(0, 74, 137);
    border-bottom: 0.5px dashed #97b6cf;
    margin: 0 0 10px;
    padding: 0 0 10px;
  }

  .media-body .pro-bar {
    display: flex;
    flex-wrap: wrap;
  }

  .media-body .pro-bar label {
    font-size: 13px;
    color: rgb(0, 74, 137);
    flex: 0 0 90px;
  }

  .media-body .pro-bar .progress {
    width: calc(100% - 90px);
  }

  .vertical-timeline-element-right .mark-kriger-inside .media .media-left {
    flex: 0 0 80px;
    margin-right: 15px;
  }

  .vertical-timeline-element-right .mark-kriger-inside .media .media-left p {
    text-align: center;
    margin: 4px 0 0;
    color: rgb(0, 74, 137);
    font-size: 14px;
    font-weight: bold;
  }

  .vertical-timeline-element-right .vertical-timeline-element-content-arrow {
    left: -14px;
  }

  .vertical-timeline-element-right .mark-kriger-inside h3 {
    font-weight: 600;
    font-size: 16px;
    color: rgb(0, 74, 137);
    border-bottom: 0.5px dashed #97b6cf;
    margin: 0 0 10px;
    padding: 0 0 10px;
  }

  .vertical-timeline-element--work.vertical-timeline-element {
    display: flex;
    justify-content: space-between;
  }

  .vertical-timeline-element-content {
    height: 100%;
  }

  .vertical-timeline-element-content-arrow {
    top: 24px;
    left: 100%;
    transform: rotate(180deg);
  }

  .vertical-timeline-element-content .vertical-timeline-element-date {
    position: absolute;
    width: 100%;
    left: 10px;
    top: -23px;
    font-size: 14px;
    color: #97b6cf;
    opacity: 1;
    padding: 0;
    font-weight: 500;
  }

  .vertical-timeline-element.vertical-timeline-element--right
    .vertical-timeline-element-content,
  .vertical-timeline-element:nth-child(even):not(
      .vertical-timeline-element--left
    )
    .vertical-timeline-element-content {
    float: right;
  }

  .vertical-timeline-element.vertical-timeline-element--right
    .vertical-timeline-element-content-arrow,
  .vertical-timeline-element:nth-child(even):not(
      .vertical-timeline-element--left
    )
    .vertical-timeline-element-content-arrow {
    top: 24px;
    left: auto;
    right: 100%;
    transform: rotate(0);
  }

  .vertical-timeline-element.vertical-timeline-element--right
    .vertical-timeline-element-content-arrow,
  .vertical-timeline-element:nth-child(even):not(
      .vertical-timeline-element--left
    )
    .vertical-timeline-element-content-arrow {
    top: 24px;
    left: 100%;
    right: auto;
    transform: rotate(0);
  }

  .vertical-timeline-element.vertical-timeline-element--right
    .vertical-timeline-element-content
    .vertical-timeline-element-date,
  .vertical-timeline-element:nth-child(even):not(
      .vertical-timeline-element--left
    )
    .vertical-timeline-element-content
    .vertical-timeline-element-date {
    left: auto;
    right: 124%;
    text-align: right;
  }
}

.vertical-timeline--animate .vertical-timeline-element-content.is-hidden {
  visibility: hidden;
}

.vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
  visibility: visible;
  -webkit-animation: cd-bounce-2 0.6s;
  -moz-animation: cd-bounce-2 0.6s;
  animation: cd-bounce-2 0.6s;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns.vertical-timeline--animate
    .vertical-timeline-element.vertical-timeline-element--right
    .vertical-timeline-element-content.bounce-in,
  .vertical-timeline--two-columns.vertical-timeline--animate
    .vertical-timeline-element:nth-child(even):not(
      .vertical-timeline-element--left
    )
    .vertical-timeline-element-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}

@media only screen and (max-width: 1169px) {
  .vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

/**Timeline End**/

/* anujs qr code model design */

.modal-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: var(--light-blue);
  font-family: "Roboto-Medium";
}

.form-group {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

label {
  flex: 0 0 114px;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: var(--blue);
}
.modal-body button.dropdown-toggle.btn.btn-primary {
  /* width: 100%; */
  background: transparent;
  color: #97b6cf;
  min-width: 331px;
  text-align: left;
  padding: 15px 27px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  outline: 0;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 6px 0px #0066be33;
  border: 0;
}
.modal-body .dropdown-menu {
  min-width: 331px;
  border-radius: 18px;
  border: 0;
  padding: 10px;
  box-shadow: 0px 1px 6px 0px rgba(0, 102, 190, 0.2);
  margin-top: 4px;
}
.modal-body .dropdown-menu .dropdown-item {
  padding: 4px 16px;
  margin-bottom: 4px;
}

.modal-body .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0;
  content: "";
  border: 0 !important;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAKCAYAAAC9vt6cAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAChSURBVHgBlZHBDcIwDEW/LRaqGCNLhGPFhQ1oJ0AcoEd3icAUVVZgENSQBoQQdWj4l0TOf0+RTCfnLWNEbdY9/sj5Muxw5xszQUAsnfNSCndXLwQ+0ArCCGjTlGBLJBMcGTvdx4AjpaHzTRTsUyOgr021KYDbrakaej8uSDT4+fHPUkaSg2cCTQJOpwqrgpnkFQ3OCr4lOXgxURJXO9hfnQe4iWObVpJyAgAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  width: 16px;
  height: 10px;
}
.modal-body {
  padding: 60px 40px 0 0 !important;
  margin: 0 auto;
}
.modal-content {
  box-shadow: 0px 3px 10px -3px rgba(0, 102, 190, 0.2);
  border-radius: 30px;
  border: 0;
  min-height: 270px;
  padding: 18px 24px 24px 24px;
}
.modal-footer {
  justify-content: center;
  padding: 0;
  border: 0;
}
.modal-footer .btn.btn-primary {
  padding: 10px 35px;
  margin: 0;
}
h5#staticBackdropLabel {
  margin: 0 auto;
}
.modal-header {
  padding: 8px 20px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-header button.btn-close {
  position: unset !important;
  padding: 0 !important;
}
.modal-body .form-group {
  margin: 0 auto;
}
.modal-body .form-group label {
  flex: 0 0 64px;
}
