@use "sass:math";
@import "./mixins";
@import "./variables";

.library-content-box-layuot {
  margin-top: 30px;
  gap: 0% 5%;
  flex-wrap: wrap;
  .doc-content-main-box {
    background: $white;
    box-shadow: $library-box-shadow;
    border-radius: 20px;
    padding: $library-box-padding;
    margin: 40px 0 20px;
    width: 100%;
    flex: 0 0 30%;
    position: relative;
    .doc-content-header {
      display: flex;
      margin-bottom: 20px;
    }       
    .doc-content-header-logo {
      width: 67px;
      margin-right: 12px;
      img {
        filter: drop-shadow(0px 0px 6px rgba(0, 102, 190, 0.29));
      }
    }
    .doc-content {
      h5 {
        @include h5;
        color: $primary-color;
      }
      h6 {
        @include h6;
      }
      p {
        @include p;
        color: $library-box-heading;
        margin: 0 0 10px;
      }
      .select-tags {
        display: flex;
        flex-wrap: wrap;
        div {
          background: #e7f4ff;
          border-radius: 3px;
          font-weight: 300;
          font-size: 11px;
          line-height: 13px;
          color: $primary-color;
          margin: 0 8px 5px 0;
          padding: 2px 10px;
        }
      }
    }
    .tab-content {
      .tab-content-links {
        a {
          @include h6;
          color: $voilet;
          text-decoration: none;
        }
        span.copy-content {
          margin-left: 8px;
          cursor: pointer;
        }
      }
      .tab-mail-list {
        padding: 0;
        margin: 0;
        h6 {
          @include h6;
          color: $dark-blue;
        }
        h6.tab-content-title {
          font-weight: 500;
          color: $library-box-heading;
          flex: 0 0 150px;
          margin: 0;
          img {
            width: 12px;
            margin-left: 4px;
          }
        }
        
      }
      .tab-mail-list.data {
        li{
          padding:10px 0 16px;
        }
      }
      .tab-mail-list.change {
        h6.tab-content-title {
          flex: 0 0 95px;
        }
      }

      .footer-btn-wrapper {
        margin: 0px 0px;
        display: flex;
        align-items: center;
        gap: 0px;
        justify-content: space-between;
        .footer-btn {
          @include footer-btn;
          &:hover {
            background: $primary-color;
            color: $white;
          }
        }
        .footer-btn.reset {
          border-color: $voilet;
          color: $voilet;
          &:hover {
            background: $voilet;
            color: $white;
          }
        }
      }
      .change-tab {
        .footer-btn-wrapper {
          .footer-btn {
            min-width: initial;
          }
        }
      }
    }
  }
}



span.copy-content {
  margin-left: 8px;
  cursor: pointer;
}
#delete-confirm .modal-body h4,
#resend-confirm .modal-body h4 {
  color: $dark-gray;
  font-weight: 400;
}
#resend-confirm .modal-body #modeltoreplace {
  min-width: 82px;
}
ul.tab-mail-list.data span.total-left {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 74, 137, 0.5);
}
ul.tab-mail-list.data span.total-left small {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    margin-left: 3px;
}
.data-progress {
    margin-right: 8px;
    padding: 20px 0 0 35px;
}
.tab-mail-list.data .progress {
  width: 182px;
  background: rgba(151, 182, 207, 0.2);
  border-radius: 27px;
  height: 24px;
}

.tab-mail-list.data .progress .progress-bar {
  border-radius: 27px;
  padding: 5px 7px;
  min-width: 25px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.tab-mail-list.data .progress .progress-bar.bg-warning {
  color: #aa7d17;
  background: #fac755 !important;
}

.tab-mail-list.data .progress .progress-bar.bg-success {
  color: #05766b;
  background: #00d4c0 !important;
}

.tab-mail-list.data .progress .progress-bar.bg-danger {
  color: #a53239;
  background: #f58289 !important;
}
.data-progress span {
  font-size: 11px;
  line-height: 13px;
  color: rgba(0, 74, 137, 0.5);
}
.doc-content h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: $primary-color;
  margin-bottom: 6px;
}
#download-qr .modal-body {
  padding: 18px 32px 44px;
}
#download-qr .modal-footer {
  border: 0;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 20px;
}
#resend-confirm .modal-header {
  padding: 12px 11px;
}
#resend-confirm .modal-body .modal-buttons {
  margin-top: 28px;
}
#download-qr .modal-footer button {
  min-width: 106px;
}
#download-qr .modal-body .form-group label {
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: $dark-blue;
  margin-right: 16px;
}
#download-qr .modal-body .form-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
#download-qr .modal-body .dropdown button {
  min-height: 48px;
  width: 300px;
  max-width: 300px;
  background: var(--white) url(../images/dropdown-arrow.svg) no-repeat;
  box-shadow: 0px 1px 6px rgb(0 102 190 / 20%);
  font-size: 16px;
  padding-left: 25px;
  background-position: 93% center;
  padding: 7px 30px 7px 27px;
  border: 0;
  color: #97b6cf;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
}
#download-qr .dropdown-menu {
  background: $white;
  box-shadow: 0px 1px 6px rgba(0, 102, 190, 0.2);
  border-radius: 18px;
  border: 0;
  width: 100%;
  margin-top: 5px;
  padding: 0;
}

#download-qr .dropdown-menu .dropdown-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #97b6cf;
  padding: 8px 25px;
  border-radius: 21px;
}
#download-qrm .dropdown-menu .dropdown-item.active {
  color: $white;
}
#download-qr .dropdown-menu .scroll_div {
  padding: 2px;
}

#download-qr .dropdown-menu .dropdown-item:hover {
  background: $primary-color;
  box-shadow: 0px 1px 6px rgba(0, 102, 190, 0.2);
  color: $white;
}
#download-qr .modal-body .form-group .dropdown button:after {
  display: none;
}
.doc-content-main-box .nav-pills button.nav-link.active {
  color: #fff !important;
  box-shadow: -11px 0px 15px rgba(0, 102, 190, 0.1);
  background: $primary-color;
  border-color: $primary-color;
}

.doc-content-main-box .nav-pills .nav-link {
  background: $white;
  border: 1px solid $primary-color;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: $primary-color;
  padding: 13px 18px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  margin-right: 8px;
  min-width: 140px;
  display: inline-block;
  outline: 0;
}

.doc-content-header .refresh-btn {
  margin-left: auto;
  padding-left: 10px;
}

.doc-content-main-box .doc-tab {
  margin: 16px auto 25px 0;
}

.doc-content-main-box .tab-content.doc-tab-content a.doc-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $primary-color;
}

.doc-content-main-box ul.tab-mail-list.tag {
  padding: 0;
  border: 0;
  margin: 0;
}

.doc-content-main-box ul.tab-mail-list li {
  display: flex;
  align-items: center;
  margin: 0 0 3px;
}

.doc-content-main-box ul.tab-mail-list li h5 {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #70899e;
  margin: 0 0 7px;
}

.doc-content-main-box ul.tab-mail-list li p {
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  color: #70899e;
}

.footer-btn-wrapper a.footer-btn:hover {
  background: #e7f4ff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-color: #e7f4ff;
}

/* ============ Data-Tab  ============ */

.doc-content-main-box ul.tab-mail-list.data {
  padding: 0;
  border: 0;
}

.doc-content-main-box ul.tab-mail-list.data li {
  margin-bottom: 3px;
}

.doc-content-main-box ul.tab-mail-list.data li h6 {
  flex: 0 0 200px;
}

.doc-content-main-box ul.tab-mail-list.data li p {
  background: #97b6cf;
  border-radius: 30px;
  color: #fff;
  padding: 3px 10px;
  min-width: 98px;
  text-align: center;
  margin: 0;
  line-height: initial;
  flex: 1 1;
}

.doc-content-header .doc-content-header-logo {
  width: 70px;
  margin-right: 15px;
}

.doc-content-header .refresh-btn {
  margin-left: auto;
  padding-left: 10px;
}

.refresh-btn img {
  cursor: pointer;
}

.doc-content-main-box .nav-tabs {
  border: 0;
  margin: 0 -16px 0;
  margin-bottom: 0 !important;
}
.doc-content-main-box .nav-tabs .nav-item {
  margin-right: 0;
}

.tab-content .tab-content-links {
  margin-bottom: 8px;
}
.doc-content-main-box .nav-tabs .nav-item button.active {
  background: $primary-color;
  color: #fff;
}

.doc-content-main-box .nav-tabs .nav-item:last-child {
  margin-right: 0;
}

ul.tab-mail-list.tag b {
  color: #5c7a94;
  font-size: 15px;
}

ul.tab-mail-list.tag a {
  border-radius: 15px;
  background-color: #eeefef;
  padding: 2px 11px;
  font-size: 11px;
  text-decoration: none;
  color: #484848;
  margin: 0 3px;
  line-height: 17px;
}

.doc-content-main-box ul.tab-mail-list.data li h5 img {
  max-width: 15px;
}

.doc-content-main-box .tab-pane .data-main-box {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.doc-content-main-box .tab-content .tab-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data-main-footer-sec .footer-btn {
  text-align: center;
}

.data-main-footer-sec .footer-btn button {
  padding: 9px;
  font-size: 15px;
  margin-bottom: 4px;
}

.doc-content-main-box ul.tab-mail-list.data b {
  color: #5c7a94;
  font-size: 15px;
}

.doc-content-main-box ul.tab-mail-list.data a.tags {
  border-radius: 15px;
  background-color: #eeefef;
  padding: 4px 11px;
  font-size: 11px;
  text-decoration: none;
  color: #484848;
  margin: 0 3px;
}

.doc-content-main-box ul.tab-mail-list.data.change li h5 {
  flex: 0 0 150px;
}
.select-dropdown-wrapper .select {
    display: flex;
    align-items: center;
}

.select-dropdown-wrapper .select button.btn {
    font-size: 14px;
    line-height: 13px;
    text-transform: capitalize;
    color: $white;
    box-shadow: 0px 1px 6px rgba(0, 102, 190, 0.2);
    padding: 8px 14px;
    min-width: 89px;
}
ul.tab-mail-list.data li .select-dropdown-wrapper select {
  box-shadow: 0px 1px 6px rgb(0 102 190 / 20%);
  border-radius: 30px;
  border: 0;
  padding: 9px 14px;
  width: 100%;
  color: #97b6cf;
  font-weight: 300;
  appearance: none;
  background-color: transparent;
  font-size: 14px;
  min-width: 222px;
  margin-right: 16px;
  background: var(--white) url(../images/dropdown-arrow.svg) no-repeat;
  background-position: 93% center;
}

select::-ms-expand {
  display: none;
}

.readers.search_view .top-right-action.library_content_view {
  width: auto;
  flex-wrap: wrap;
}

.library_create-box {
  background: $white;;
  border-radius: 20px;
  position: relative;
  flex: 0 0 50%;
  max-width: 405px;
  padding: 32px 20px 32px;
  cursor: pointer;
  box-shadow: 0px 0px 13px -3px rgba(0, 102, 190, 0.2);
}
.library_create-box:hover {
  box-shadow: 0px 0px 13px -3px rgba(0, 102, 190, 0.4);
}
.library_create-box .create-library-img {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px;
}
.library_create-box .create-library-img img {
  width: auto;
  max-height: 40px;
}
.library_create-box .create-library-content h3 {
  font-weight: 500;
  color: $primary-color;
}
.library_create {
    gap: 100px 0;
    flex-wrap: wrap;
    max-width: 910px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 100px 0 0;
}
.library_create-box .create-library-content {
  text-align: center;
  position: relative;
}

.library_create-box .create-library-content h4 {
  color: $primary-color;
  font-weight: 700;
}

.library_create-box .create-library-content h5 {
  color: rgba(0, 74, 137, 0.5);
  font-weight: 400;
}
.doc-content-main-box .nav-tabs .nav-item button.active {
  color: $primary-color;
  background: $white;
  mix-blend-mode: normal;
  box-shadow: 0px -5px 8px rgb(0 102 190 / 8%);
  border-radius: 20px 20px 0 0;
  z-index: 2;
  position: relative;
}

.doc-content-main-box .nav-tabs .nav-item button.active:before {
    content: "";
    background: $white;;
    width: 100%;
    position: absolute;
    height: 45px;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    z-index: -1;
    mix-blend-mode: normal;
}
.doc-content-main-box .nav-tabs .nav-item button {
  border: 0;
  font-size: 11px;
  line-height: 13px;
  font-weight: 500;
  padding: 10px;
  color: rgba(0, 102, 190, 0.5);
}
.doc-content-main-box .tab-content {
  background: $white;
  mix-blend-mode: normal;
  box-shadow: 0px -4px 8px rgb(0 102 190 / 7%);
  border-radius: 20px 20px 20px;
  margin: 1px -16px 0;
  padding: 20px 16px 0;
  min-height: 330px;
}
.doc-content-main-box .tab-content > .active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 313px;
  flex-wrap: wrap;
}

.login-validation {
  color: $pink;
  font-size: 12px;
  position: absolute;
  right: 0px;
  top: 55px;
}

.login-validation-upload {
  color: $pink;
  font-size: 12px;
  position: absolute;
  left:auto;
  right: 0px;
  bottom: -10px;
}

.val {
  position: relative;
}

.create-change-content {
    background: rgba(0, 102, 190, 0.03);
    border-radius: 20px;
    padding: 24px 72px;
    margin: 0 0 40px;
}

.create-change-content .form-group {
    display: flex;
    align-items: center;
    margin: 18px 0 36px;
    width: 100%;
    max-width: 600px;
}
.create-change-content .form-group label {
    font-size: 18px;
    line-height: 21px;
    color: $dark-blue;
    flex: 0 0 154px;
}

.create-change-content .form-group .form-control, .create-change-content .react-datepicker__input-container input {
    background: $white;
    box-shadow: 0px 1px 6px rgba(0, 102, 190, 0.2);
    border-radius: 30px;
    border: 0;
    padding: 12px 27px;
    width: 100%;
    color: #4e718e;
    font-weight: 300;
    max-width: 445px;
}

.create-change-content .form-group .form-control:focus {
    box-shadow: 0px 0px 5px rgb(0 102 190 / 87%);
    color: $dark-blue;
}

.create-change-content .form-group .dropdown-basic-button {
    width: 100%;
}
.create-change-content .split-button-dropup > div:nth-child(3) {
    @include split-btn;
}
.create-change-content .split-button-dropup div:nth-child(3)>div div {
    font-size: 16px;
    color:#97B6CF;
}
.create-change-content .split-button-dropup .dropdown-menu {
    @include split-btn-dropdown;
}
.create-change-content .split-button-dropup .dropdown-menu a.dropdown-item {
  color: $dark-blue;
  border-radius: 15px;
  cursor: pointer;
  margin: 0 0 2px;
  word-break: break-word;
  white-space: normal;
  font-size: 13px;
  line-height: 15px;
  padding: 3px 7px;
}
.split-button-dropup>div:nth-child(4) {
  width: 100%;
  border: 0.5px solid rgba(0, 102, 190, 0.06);
  box-sizing: border-box;
  box-shadow: 0 0 20px -3px rgb(0 102 190 / 18%);
  border-radius: 15px;
  width: 100%;
  padding: 8px;
  max-height: 150px;
  background-color: #fff;
  background-clip: padding-box;
  position: absolute;
  overflow: hidden;
}

.split-button-dropup>div:nth-child(4)>div {
  padding-right: 5px;
}

.split-button-dropup>div:nth-child(4)>div div {
  color: var(--blue);
  font-size: 15px;
  line-height: 17px;
  padding: 0.3rem 1rem;
  border-radius: 15px;
  cursor: pointer;
  margin: 0 0 2px;
  word-break: break-word;
  white-space: normal;
}
.split-button-dropup div:nth-child(3) > div:nth-child(2) span, .split-button-dropup > div:nth-child(3) div:nth-child(2) div {
    display: none;
}
.form-check-group {
    background: $white;
    box-shadow: 0px 1px 6px rgba(0, 102, 190, 0.2);
    border-radius: 20px;
    padding: 14px 16px;
    max-width: 445px;
    width: 100%;
}
.create-change-content .form-group .form-check label {
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
    color: #70899E;
}
.form_action h4{
  color:$dark-blue;
  font-weight: 500;
  margin-bottom: 12px;
}

.create-change-content .form-group fieldset {
    display: flex;
    align-items: center;
}

.create-change-content .form-group fieldset input, .create-change-content .form-group .form-check-group input {
    border: 1px solid #97b6cf;
    width: 16px;
    height: 16px;
    padding: 1px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    appearance: none;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    display: inline-block;
    flex: 0 0 16px;
    margin: 0 16px 0 0;
}
.create-change-content .form-group fieldset label {
    font-size: 16px;
    line-height: 19px;
    color: #70899E;
    flex: 0 0 80px;
    font-weight: 400;
}
.create-change-content .form-group input:checked[type="checkbox"], .create-change-content .form-group .form-check-group input:checked[type="radio"] {
    background-color: var(--green);
    border-color: var(--green);
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e");
}
.create-change-content .form-group textarea.form-control {
    min-height: 223px;
    resize: none;
}
.create-change-content .right-change .form-group {
    align-items: flex-start;
}

.create-change-content .right-change .form-group > label {
    padding-top: 18px;
}
.form-check-group .form-check {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    padding-left: 0;
}
.create-change-content .upload-file-box {
    width: 100%;
    border: 1px dashed var(--light-blue);
    box-sizing: border-box;
    border-radius: 15px;
    padding: 16px;
    max-width: 445px;
    margin: 0 0 15px;
}
.create-change-content .upload-file-box .box {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
}
.create-change-content .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.create-change-content .inputfile ~ label {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 11px;
    background: var(--light-blue);
    border-radius: 30px;
    color: var(--white) !important;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    min-width: 171px;
    text-align: center;
    height: 39px;
}
.create-change-content .upload-file-box .box p{
    margin: 0;
    font-size: 16px;
    line-height: 145.19%;
    color: #97B6CF;
}
/**Library Style End**/
