
@media only screen and (max-width:1750px){
	.page-top-nav .tabnav-link li {
		padding: 0 30px;
	}
	.page-top-nav .tabnav-link li::after {
		width: 44px;
		right: -23px;
		top: 10px;
	}
	.page-top-nav .tabnav-link li a {
		font-size: 15px;
	}
}
@media only screen and (max-width:1650px){
.right-sidebar { 
	padding-left: 30px;
	padding-right: 30px;
}
.btn.btn-primary {
	font-size: 14px;
	min-width: 60px;
}
.page-top-nav.smart_list_names .btn.btn-primary {
	padding: 10px 13px;
	font-size: 14px;
}
.page-top-nav .btn.btn-primary{padding: 10px 8px;}
.preview-mail-box table, .preview-mail-box .table{
	width:100%;
}
.preview_mail .preview-mail-box {
    padding: 60px 44px;
}
.preview-mail-box table td h2 {
    font-size: 20px;
}
.preview_mail .preview-mail-box .table td .table td img {
    display: inline-block;
    max-width: 100%;
}
.create_smart_list .create-smart-step h2 {
	font-size: 42px;
	line-height: 48px;
	top: 33px;
	left: -106px;
}
.create-smart-step .create-smart-step-box h5 {
	font-size: 22px;
	line-height: 24px;
}
}

@media only screen and (max-width:1550px){
	.smartlist-result-block .smartlist_box_block {
		width: 33.3%;
	}
	.form-inline .form-group input {
		max-width: 400px;
	}
	.form-inline .form-group input#email-address {
		max-width: 315px;
	}
}
@media only screen and (max-width:1450px){
.page-title h2 {
	font-size: 30px;
	line-height: 38px;
}
.create_smart_list .create_smart_list_inset {
	max-width: 870px;
}
.create-smart-step-box ul li .send-option-img img {
	height: 65px;
}
.smart-list-btns .smart-list-download, .smart-list-btns .hcp-new-user, .smart-list-btns .hcp-added {
    margin-right: 10px;
}
.smart_list_names .header-btn .btn {
    margin-left: 8px;
}
.send-confirm .modal-body h4 {
	font-size: 22px;
	margin-top: 24px;
}
.search-bar form.d-flex input {
	width: 220px;
}
.filter-by, .clear-search {
	margin-left: 15px;
}
.email-block-add img, .smartlist-add.smartlist-view img {
	max-width: 60px;
}
.preview_mail .preview-mail-box {
	padding: 30px 20px;
}
.sidebar-menu {
	background-size: 140px;
}
.mail-box-content {
    padding: 20px 13px 13px 13px;
}
.mail-box-content h5 {
    font-size: 17px;
    line-height: 19px;
}
.mailbox-buttons:before {
    left: -5px;
    right: -5px;
}
.btn.btn-primary {
    font-size: 12px;
    min-width: 55px;
}
header nav.navbar {
    padding: 12px 0px;
}
.sidebar-menu ul li {
	margin-top: 12px;
	margin-bottom: 12px;
}
.sidebar-menu ul li a svg {
    margin-right: 13px;
    width: 20px;
}
.page-top-nav .tabnav-link li {
	padding: 0 25px;
}
.page-top-nav .tabnav-link li::after {
	width: 35px;
	right: -18px;
	top: 13px;
}
.search-hcp-table table, .selected-hcp-list table {
	border-spacing: 0px 20px;
}
.result-hcp-table .table-title .selected-hcp-table-action .hcp-added, .table-title .hcp-new-user, .table-title .show-less-info {
	margin-right: 10px;
}
.send-option-list ul li .send-option-img {
    width: 154px;
    height: 154px;
}
.send-option-list ul li img {
    height: 65px;
}
.send-option-list h5 {
    font-size: 21px;
    line-height: 20px;
    margin: 16px 0 30px;
}
.send-option-list ul li p {
    margin: 16px 0 8px;
    font-size: 16px;
}
.send-option-img.active {
    border: 3px solid var(--light-blue);
}
h4 {
    font-size: 22px;
    line-height: 25px;
}
.form-inline .form-group label {
    font-size: 16px;
}
.form-search-hcp .form-inline .form-group label {
    padding-right: 12px;
}
.form-search-hcp .form-inline .form-group input {
    width: calc(100% - 57px);
    padding: 8px 12px;
}
.form-search-hcp .form-button .btn {
    min-width: 120px;
}
.search-hcp-table {
    min-height: 205px;
}
.search-hcp-table-inside {
    max-height: 215px;
}
.search-hcp-table-inside {
    width:100%;
    overflow-y: auto;
    overflow-x: auto;
}
.form-search-hcp .form-button .btn, #tagsModal .modal-footer form .form-group .btn, #tagsModal .modal-footer .save.btn, .send-confirm .modal-body .modal-buttons button, #mail-view .mail-view-btn .btn, .form-buttons .btn.btn-large, .form-buttons .btn-primary {
    font-size: 14px;
}
#tagsModal .modal-footer form .form-group label, .smartlist-buttons button.btn {
	font-size: 16px;
}
.search-hcp-table table td:first-child, .selected-hcp-list table td:first-child {
    width: 110px;
    display: flex;
}
.form-buttons .approved-btn, .form-buttons .btn.btn-large {
	padding: 10px 20px;
}
form .input-group {
	padding: 16px 20px;
}
#tagsModal.modal-dialog, #add-list.modal-dialog, #send-sample.modal-dialog {
	max-width: 1000px;
}
.selected-tags {
	margin-top: 20px;
}
#tagsModal .modal-footer form .form-group #new-tag {
	padding: 7px 12px;
}
.modal-body .tag-lists .tag-lists-view div {
	padding: 2px 12px;
	font-size: 12px;
	margin: 5px 10px 5px 0;
}
#tagsModal .modal-header h5 {
	font-size: 22px;
	line-height: 24px;
}
.form-inline .form-group input {
	font-size: 14px;
}
form .input-group #tags-add {
	font-size: 14px;
}
form .input-group {
	margin-bottom: 25px;
}
.select-smart-list .email_box {
    margin-bottom: 0px;
}
.smart-list-added-user img {
    margin-right: 9px;
    max-height: 20px;
}
.select-mail-template .alice-carousel .item p {
    font-size: 14px;
    line-height: 17px;
}
.mail-content-select {
    margin-top: 20px;
}
.preview_mail h4, .verify-email-detail h4 {
    font-size: 18px;
}
.verify-email-detail h6 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
}
.mail-recipt  .smartlist-view {
    width: 100%;
    flex: 1 1 auto;
}
.mail-recipt .mail-recipt-left {
    padding-right: 15px;
    min-height: initial;
}
.mailbox-tags ul li.list3, .mailbox-tags ul li.list5, .mailbox-tags ul li.list4 {
    padding: 2px 10px;
}
.mail-recipt h6 {
    font-size: 16px;
    line-height: 19px;
}
.smartlist-view .mail-box-content {
    padding: 12px 12px;
}
.verify-mail-box {
    padding: 15px 15px 11px 15px;
}
.header-btn .btn.send_btn {
    height: 34px;
}
#send-sample .form-search-hcp .form-button .btn {
    min-width: 85px;
}
#send-sample .form-search-hcp .form-button .btn-bordered {
    padding: 10px 8px;
}
.form-search-hcp .form-button .btn-bordered {
    margin-left: 10px;
}
.form-search-hcp .form-button .btn-filled {
    margin-right: 10px;
}
.form-search-hcp .form-button .btn-filled::after {
    right: -12px;
    height: 40px;
    top: -2px;
}
.form-search-hcp .form-button.col-md-5 {
    padding-left: 8px;
}
#send-sample .selected-hcp-list .not-found h4 {
    font-size: 25px;
}
.selected-hcp-list .not-found {
    min-height: 200px;
}
.modal .selected-hcp-table .selected-hcp-list {
    padding-right: 0;
}
.dropdown-menu.filter-options h4 {
    font-size: 16px;
}
.dropdown-menu.filter-options {
    width: 300px;
    padding: 19px 12px 72px 19px;
}
.dropdown-menu.filter-options .card-header a, .dropdown-menu.filter-options .card-header .accordion-button {
    font-size: 15px;
    line-height: 17px;
    padding: 12px 20px;
}
.accordion-body {
    padding: 10px 15px 10px;
}
.dropdown-menu.filter-options .accordion .card .collapse, .dropdown-menu.filter-options .accordion .card .collapsing {
    padding-left: 0;
}
.dropdown-menu.filter-options .accordion .card .select-multiple-option, .select-multiple-option {
    padding-left: 22px;
}
.dropdown-menu.filter-options .accordion .card ul li, .approved_list ul li {
    padding-bottom: 9px;
}
.dropdown-menu.filter-options .accordion .card .collapse, .dropdown-menu.filter-options .accordion .card .collapsing {
    margin-top: -38px;
	padding-top: 39px;
}
.dropdown-menu.filter-options .accordion {
    padding-right: 5px;
}
.filter-footer button.btn-bordered, .filter-footer button.btn-filled {
    font-size: 14px;
    line-height: 19px;
    min-width: 96px;
	padding: 8px 12px;
}
.smartlist-add {
    min-height: initial;
    height: 100%;
}

.smartlist-add p {
    font-size: 16px;
    line-height: 19px;
    margin: 9px 0 0;
}
.create-smart-step-box ul li .send-option-img {
	width: 154px;
	height: 154px;
	margin: 0 auto;
}
.create-smart-step-box ul li p {
	margin: 16px 0 12px;
	font-size: 16px;
	line-height: 18px;
}
.create-smart-step .create-smart-step-box h5 {
	font-size: 21px;
	line-height: 20px;
}
.create_smart_list .create-smart-step .create-smart-step-box form label {
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 10px;
}
}
@media only screen and (max-width:1365px){
	.mailbox-tags ul li {
		font-size: 10px;
		line-height: 11px;
		padding: 2px 4px;
		margin: 0 5px 5px 0;
	}
	.page-top-nav.smart_list_names .col-md-1 {
		padding-left: 0;
	}
	.create_smart_list .create_smart_list_inset {
		max-width: 85%;
	}
	.dropdown-menu.filter-options {
		width: 270px;
	}
	.dropdown-menu.filter-options .accordion .card ul {
		max-height: 134px;
	}
	.page-title h2 {
		font-size: 24px;
		line-height: 28px;
	}
	#tagsModal .modal-footer form .form-group label, .smartlist-buttons button.btn {
		font-size: 12px;
	}
	.smart-list-added-user {
		font-size: 16px;
		line-height: 18px;
		margin-bottom: 10px;
	}
	.email-block-add p {
		font-size: 18px;
		line-height: 20px;
		margin-top: 11px;
	}	
	.mailbox-buttons button {
		height: 30px;
	}
	.mailbox-table td, .mailbox-table th {
		font-size: 13px;
		line-height: 15px;
	}
	.mail-time span {
		font-size: 11px;
	}
	.right-sidebar {
		padding-left: 20px;
		padding-right: 20px;
	}
	.page-top-nav .tabnav-link li {
		padding: 0 21px;
	}
	.page-top-nav .tabnav-link li a {
		font-size: 13px;
	}
	.page-top-nav .tabnav-link li::after {
		width: 30px;
		right: -16px;
		top: 13px;
	}
	.page-top-nav .col-md-2 {
		padding-left: 0;
	}
	.header-btn {
		display: flex;
		align-items: center;
	}
	.page-top-nav .btn.btn-primary {
		padding: 10px 5px;
	}
	.search-hcp-table table td, .selected-hcp-list table td {
		padding: 20px 8px;
	}
	.selected-hcp-list {
		width: 100%;
		overflow-y: auto;
		padding: 0 3px;
	}
	.btn.btn-primary {
		min-width: 54px;
	}
	#add_hcp.modal-dialog {
		max-width: 845px;
		width: 100%;
	}
	#add_hcp .modal-body .hcp-add-form form .form-group label {
		flex: 0 0 100px;
		font-size: 15px;
	}
	#add_hcp .modal-body .hcp-add-form form .form-group .form-control, #add_hcp .modal-body .hcp-add-form form .form-group select {
		padding: 10px 18px;
		font-size: 14px;
	}
	.hcp-action-block .hcp-remove .btn {
		width: 38px;
		height: 38px;
	}
	.nav-item.add_hcp .nav-link {
		font-size: 14px;
		min-width: 90px;
		height: 38px;
	}
	.nav-item.add-file .nav-link {
		font-size: 14px;
		min-width: 84px;
		height: 38px;
	}
	#add_hcp .modal-body {
		padding-top: 0;
	}
	#add_hcp .modal-header h5, .modal-header h4 {
		font-size: 22px;
		line-height: 24px;
	}
	#add_hcp .modal-body .hcp-add-form button {
		font-size: 14px;
	}
	#add_hcp .modal-body .hcp-add-box .hcp-add-form.tab-content {
		max-height: 460px;
	}
	#add_hcp .modal-footer {
		padding: 10px 10px 20px;
	}
	.send-confirm .modal-body h4 {
		font-size: 20px;
		margin-top: 22px;
	}
	.form-inline .form-group input {
		max-width: 380px;
	}
	.form-buttons .btn {
		height: 38px;
	}
	.form-buttons .approved-btn, .form-buttons .btn.btn-large, .form-buttons .btn-primary {
		padding: 10px 10px;
		font-size: 13px;
	}
	.form-inline .form-group label {
		width: 135px;
		flex: 0 0 135px;
	}
	.form-inline .form-group input#email-address {
		max-width: 235px;
	}
	.mail-preview-img img {
		max-height: 72px;
		max-width: 63px;
	}
	.mail-preview-img {
		flex: 0 0 67px;
		margin-bottom: 5px;
	}
	.mail-box-content h5 {
		font-size: 15px;
		line-height: 18px;
	}
	.mail-content-table table th {
		font-size: 13px;
	}
	.mail-content-table table td {
		font-size: 13px;
	}
	.select-mail-option .checkmark::after {
		left: 7px;
		top: 4px;
		width: 6px;
		height: 11px;
		border: solid var(--white);
		border-width: 0 2px 2px 0;
		transform: rotate(45deg);
	}
	.select-mail-option .checkmark {
		width: 20px;
		height: 20px;
		margin: 7px;
	}
	.select-mail-option input {
		width: 20px;
		height: 20px;
		left: 7px;
		top: 7px;
	}
	.select-mail-option {
		right: -24px;
		width: 34px;
		height: 34px;
	}
}
