body {
  font-family: 'Roboto';
  background:#ffffff;
}

nav #collapsibleNavbar li.nav-item a {
    color: #0066BE;
    font-size: 16px;
    line-height: 19px;
    padding: 0 51px;
}
header nav {
    padding: 10px 59px;
}
header nav.navbar {
    padding: 12px 59px;
	background:#fff;
	filter: drop-shadow(0px 4px 29px rgba(0, 102, 190, 0.1));
}
header {
    position: sticky;
    top: 0;
    z-index: 9;
}
.user-login ul {
    margin: 0;
}
.user-login ul li a {
    font-size: 18px;
    line-height: 21px;
    color: #97B6CF;
    font-family: 'Roboto';
    padding-right: 0;
}
.user-login ul li a span {
    font-family: 'Roboto-Medium';
    padding-right: 5px;
}
.navbar-expand-sm .navbar-collapse {
    justify-content: center;
}
.sidebar-menu {
    background: #004A89;
    height: 100%;
    max-width: 220px;
    border-radius: 0 0 29px 0;
    display: flex;
    position: fixed;
    top: 83px;
    left: 0;
}
.left-sidebar {
    width: 300px;
    padding: 0;
    height: calc(100vh - 84px);
}
.sidebar-menu ul {
    margin: 50px 0 0;
    padding-left: 16px;
    width: 100%;
}

.sidebar-menu ul li {
    list-style: none;
    padding: 15px 13px;
    border-radius: 47px 0 0 47px;
	margin:20px 0;
}
.sidebar-menu ul li.active, .sidebar-menu ul li:hover {
    background: #fff;
	position:relative;
}
.sidebar-menu ul li.active:before {
    content: "";
    background-image: url(../images/menu-icon2.png);
    position: absolute;
    right: -1px;
    top: -30px;
    background-size: 31px;
    width: 31px;
    height: 31px;
    background-repeat: no-repeat;
}
.sidebar-menu ul li.active:after {
    content: "";
    background-image: url(../images/menu-icon2.png);
    position: absolute;
    right: -1px;
    bottom: -30px;
    background-size: 31px;
    width: 31px;
    height: 31px;
    background-repeat: no-repeat;
    transform: rotateX(180deg);
} 
.sidebar-menu ul li.active a, .sidebar-menu ul li:hover a{
	color:#004A89;
}

.sidebar-menu ul li a {font-size: 16px;
line-height: 19px;color: #fff;text-decoration: none;display: flex;align-items: center;}

.sidebar-menu ul li a svg {margin-right: 16px;}
.page-title h2 {
	color: #0066BE;
	font-size: 36px;
	line-height: 42px;
	font-family: 'Roboto-Medium';
	margin: 0;
}
.top-header {
	display: flex;
	align-content: center;
	justify-content: space-between;
}
.right-sidebar {
    padding-top: 34px;
    padding-right: 70px;
	padding-left:0;
	width: calc(100% - 300px);
}
.clear-search button {
    width: 40px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 2px 10px -3px rgba(0, 102, 190, 0.15);
    border: 0;
    padding: 6px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-login li {
	list-style: none;
}
.filter-by button {
	background: #FFFFFF;
	border-radius: 30px;
	border: 0;
	box-shadow: 0px 2px 10px -3px rgba(0, 102, 190, 0.15);
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	color: #97B6CF;
	padding: 12px 26px;
	border: 0.5px solid transparent;
}
.filter-by button:hover {
    color: #0066BE;
    border: 0.5px solid #0066BE;
}
.filter-by button:hover path {
    fill: #0066BE;
}
.filter-by button:hover,.filter-by button:active, .filter-by button:focus, .clear-search button:hover,.clear-search button:active, .clear-search button:focus{
	background:inherit;
	box-shadow: 0px 2px 10px -3px rgb(0 102 190 / 46%);
} 
.filter-by button svg {
  margin-left: 38px;
}
.search-bar form.d-flex button {
    border: 0;
    background: transparent;
    position: absolute;
    right: 7px;
    top: 2px;
}
.search-bar form.d-flex input {
    width: 279px;
    background: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 2px 10px -3px rgba(0, 102, 190, 0.15);
    border: 0;
    padding: 13px 44px 13px 24px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #97B6CF;
    height: 40px;
    margin: 0!important;
	border: 0.5px solid transparent;
}
.search-bar form.d-flex input:focus{
border: 0.5px solid #0066BE;	
}
.search-bar form.d-flex {
    position: relative;
}
.filter-by, .clear-search {
	margin-left: 24px;
}
.search-bar input::-webkit-input-placeholder { 
  color: #97B6CF;
  opacity:1;
}

.search-bar input:-ms-input-placeholder { 
  color: #97B6CF;
  opacity:1;
}

.search-bar input::placeholder {
  color: #97B6CF;
  opacity:1;
}
.top-right-action {
	display: flex;
}
.filter-block {
    display: flex;
    align-content: center;
    justify-content: space-between;
    border: 1px dashed #0066BE;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 16px;
	 
}
.apply-filter{
  margin-top: 30px;
}
.apply-filter h6 {
    font-size: 16px;
    line-height: 19px;
    color: #004A89;
    font-family: 'Roboto-Medium';
}
.filter-div .filter-result {
	background: #F2E8F5;
	border-radius: 3px;
	font-size: 11px;
	line-height: 13px;
	color: #8A4E9C;
	font-family: 'Roboto-Light';
	padding: 4px 15px 4px 21px;
	display: inline-block;
	margin: 0 10px 5px 0;
}
.filter-div {
	display: inline-block;
	width: 360px;
}
.filter-div .filter-result img {
	margin-left: 25px;
}
.clear-filter button {
	border: 1px solid #0066BE;
	box-sizing: border-box;
	border-radius: 30px;
	font-size: 16px;
	line-height: 19px;
	color: #0066BE;
	font-family: 'Roboto-Medium';
	padding: 10px 15px;
}
.clear-filter {
	display: flex;
	align-items: center;
	position: relative;
}
.clear-filter::before {
	content: "";
	position: absolute;
	border-left: 1px dashed #0066BE;
	left: -24px;
	height: calc(100% + 16px);
}
.email-block-add {
    border: 2px dashed #97B6CF;
    box-sizing: border-box;
    border-radius: 20px;
    flex: 0 0 430px;
    text-align: center;
    width: 430px;
    height: 368px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.email-result {
    margin-top: 25px;
}
.email-block-add p {
    font-size: 20px;
    line-height: 23px;
    color: #0066BE;
    margin-top: 17px;
}
.email-block-add input[type="file"] {
    width: 85px;
    height: 155px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
}
.email-block-add img {
    cursor: pointer;
}
.sidebar-menu ul li.active svg path, .sidebar-menu ul li:hover svg path {
    fill: rgb(0, 74, 137);
}
.email_box{
    width: 430px;
    flex: 0 0 430px;
}
.email-result-block {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
}
.mail-top-title span {
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    font-family: 'Roboto-Medium';
}
.mail-top-title {
    background: #FAC755;
    text-align: center;
	border-radius: 20px 20px 0 0;
	position:relative;
	padding:5px;
}
.draft-approved .mail-top-title {
    background: #39CABC;
}
.mail-top-title:after {
    content: "";
    background: inherit;
    position: absolute;
    height: 30px;
    bottom: -30px;
    width: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}
.email_box {
    box-shadow: 0px 3px 10px -3px rgba(0, 102, 190, 0.2);
    border-radius: 20px;
    margin-bottom: 29px;
}
.email_box:hover {
	box-shadow: 0px 4px 10px -1px rgba(0, 102, 190, 0.4);
}
.mail-box-content {
    padding: 27px 16px 16px 24px;
	background: #fff;
	border-radius: 20px 20px;		
}

.mail-box-content h5 {
	font-size: 18px;
	line-height: 21px;
	color: #70899E;
	font-family: 'Roboto-Medium';
	margin: 0 0 7px;
}
.mail-box-content p {
	font-size: 14px;
	line-height: 16px;
	color: #70899E;
	font-family: 'Roboto-Light';
	margin: 0 0 7px;
}
.mailbox-table th {
    font-size: 14px;
    line-height: 16px;
    color: #70899E;
    font-family: 'Roboto-Medium';
    font-weight: 500;
    padding: 3px 13px 3px 0;
}
.mailbox-table  td {
    font-size: 14px;
    line-height: 16px;
    color: #70899E;
    font-family: 'Roboto-Light';
}
.mailbox-tags ul li {
    list-style: none;
    display: inline-block;
    background: #F1F4F6;
    border-radius: 3px;
    font-size: 11px;
    line-height: 13px;
    color: #70899E;
    font-family: 'Roboto-Light';
    padding: 2px 8px;
    margin: 0 8px 8px 0;
}
.mailbox-tags ul {
    margin: 0;
    padding: 0;
}
.mailbox-tags ul li.list2 {padding: 2px 15px;}

.mailbox-tags ul li.list3 {padding: 2px 38px;}

.mailbox-tags ul li.list4 {padding: 2px 65px;}

.mailbox-tags ul li.list5 {padding: 2px 38px;}
.mail-time span {font-size: 12px;line-height: 14px;
color: #70899E;font-family: 'Roboto-Light';}
.mail-stats ul {padding: 0;margin: 0;display: flex;align-items: center;justify-content: space-around;}

.mail-stats ul li {list-style: none;display: flex;align-items: center;}
.mail-stats ul li .mail-status {
    width: 32px;
    height: 32px;
    border: 2px solid #C8D1D9;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mail-stats ul li span {font-size: 12px;
line-height: 14px;
color: #C8D1D9;}

.mailbox-buttons {
	position: relative;
	padding-top: 15px;
	margin-top: 13px;
	text-align: right;
}
.mailbox-buttons:before {position: absolute;border-top: 0.5px dashed #0066BE;content: "";height: 1px;left: -13px;right: -5px;top: 0;}
.mailbox-buttons button {
    border: 0.5px solid #0066BE;
    box-sizing: border-box;
    border-radius: 30px;
    background: #0066BE;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    height: 32px;
    padding: 5px 21px;
    margin: 0 2px;
    font-family: 'Roboto-Medium';
}
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus{outline:none}
.mailbox-buttons button.send {
    background: #fff;
    color: #0066BE;
}
.mailbox-buttons button.send:hover {
    background: #0066BE;
    color: #fff;
}
.mailbox-buttons button.edit:hover {
    background: #fff;
    color: #0066BE;
}
.mailbox-tags {
    margin-bottom: 9px;
    margin-top: 6px;
}
.mail-time {
	margin-bottom: 11px;
}
.approved .mail-box-content h5 {
	color: #0066BE;
	word-break: break-word;
}
.approved .mailbox-table th{
	color: #004A89;
}
.approved .mailbox-tags ul li{color: #0066BE;background: #E7F4FF;}
.approved .mail-stats ul li .mail-status.mail_send {border-color: #986CA5;}
.approved .mail-stats ul li .mail-status.mail_send svg path {fill: #986CA5;}
.approved .mail-stats ul li .mail-status.mail_view {border-color: #FAC755;}
.approved .mail-stats ul li .mail-status.mail_view svg path {fill: #FAC755;}
.approved .mail-stats ul li .mail-status.mail_click {border-color: #39CABC;}
.approved .mail-stats ul li .mail-status.mail_click svg path {fill: #39CABC;}
.send_new, .mailbox-buttons-list {
    display: inline-block;
}
.user-login ul li a::after {
    content: "";
    background-image: url(../images/dropdown-arrow.svg);
    border: 0;
    width: 16px;
    height: 10px;
    background-size: 16px;
    position: relative;
    top: 5px;
    margin-left: 7px;
}
.user-login ul li a:hover{color:#97B6CF}


/**Smart List**/
.smartlist-view {
    width: 350px;
    flex: 0 0 350px;
}
.smartlist-result-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.smartlist-add {
    border: 2px dashed #97B6CF;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 29px;
}
.smart-list-result {
	margin-top: 40px;
}
.smartlist-view .mail-box-content h5 {
	color: #0066BE;
	margin: 0 0 6px;
}
.smartlist-view .mailbox-table th {
	font-weight: 400;
	font-family: 'Roboto';
	color: #004A89;
	 padding: 4px 13px 5px 0;
}
.smartlist-view .mail-box-content {
	padding: 16px 16px 16px 16px;
}
.mailbox-table td span {
    background: #E7F4FF;
    border-radius: 3px;
    font-size: 14px;
    line-height: 16px;
    color: #0066BE;
    font-family: 'Roboto-Light';
    padding: 1px 29px;
}
.smartlist-view .mail-stats ul li {
    width: 32%;
}
.smartlist-view .mail-stats ul {
    justify-content: flex-start;
    margin: 15px 0;
}
.smart-list-added-user {
	font-size: 18px;
	line-height: 21px;
	color: #0066BE;
	display: flex;
	align-items: center;
}
.smartlist-view ul li .smartlist_view {
	border: 2px solid #FAC755;
}
.smartlist-view ul li span {
	color: #70899F;
}
.smartlist-view ul li .mail_click{
border: 2px solid #986CA5;	
}
.smartlist-view ul li .mail_click svg path{fill:#986CA5;}
.smart-list-added-user img {
	margin-right: 11px;
}
.smartlist-buttons {
    border-top: 0.5px dashed #0066BE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 13px;
}
.smartlist-buttons button {
    border: 0.5px solid #0066BE;
    box-sizing: border-box;
    border-radius: 30px;
    background: #0066BE;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    height: 32px;
    padding: 5px 21px;
    margin: 0 0px;
    font-family: 'Roboto-Medium';
}
.smartlist-buttons button.edit_list, .smartlist-buttons button.view:hover {
    background: #fff;
    color: #0066BE;
}
.smartlist-buttons button.edit_list{
padding:5px 14px
}
.smartlist-buttons button.edit_list:hover {
    background: #0066BE;
    color: #fff;
}
button:focus,.btn-primary:focus, .btn-primary:active:focus{box-shadow:none; outline:none;}
.smartlist-add p {
	font-size: 18px;
	line-height: 21px;
	color: #0066BE;
	margin: 19px 0 0;
}
.smartlist-add > img {
    width: 70px;
}
/**Smart List End**/


/**Create Email page 1**/
.page-top-nav .tabnav-link {
    margin: 0 0 0;
    padding: 0;
    position: relative;
    display: flex;
	justify-content: flex-end;
}
/* .page-top-nav .tabnav-link:after {
    content: "";
    border-top: 1px dashed #97B6CF;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
} */
.page-top-nav .tabnav-link li a {
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #97B6CF;
    text-decoration: none;
}

.page-top-nav .tabnav-link li {
	list-style: none;
	display: inline-block;
	padding: 0 43px;
	z-index: 1;
	position: relative;
}
ul.tabnav-link li.active {
    pointer-events: unset;
}
ul.tabnav-link li.active a {
	color: #8A4E9C;
	position: relative;
}
ul.tabnav-link li {
    position: relative;
    pointer-events: none;
}
.header-btn {
  text-align: right;
}
.btn.btn-primary {
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 16px;
  line-height: 18px;
  text-transform: capitalize;
  border: 1px solid #0066BE;
  font-family: 'Roboto-Medium';
  padding: 6px 14px;
  min-width:80px;
}
.header-btn .btn.btn-primary {
  filter: drop-shadow(0px 1px 6px rgba(0, 102, 190, 0.2));
}
.btn-bordered{
  background: #FFFFFF;
  color: #0066BE;
}
.btn-filled{
color: #FFFFFF;	
background: #0066BE;
}
.header-btn .btn.next {
  margin-left: 8px; 
}
.page-top-nav .tabnav-link li::after {
	content: "";
	border-top: 1px dashed #97B6CF;
	position: absolute;
	height: 1px;
	width: 62px;
	right: -30px;
	top: 11px;
}
.page-top-nav .tabnav-link li:last-child::after {
	display:none;
}
.page-top-nav ul.tabnav-link li.active a:after{
	content: "";
	background: #8A4E9C;
	box-shadow: 0px 3px 7px rgba(138, 78, 156, 0.69);
	width:8px;
	height:8px;
	position: absolute;
	bottom:-14px;
	left:0;
	right:0;
	border-radius:50%;
	margin: 0 auto;
}
.page-title h4 {
	font-size: 24px;
	line-height: 28px;
	color: #004A89;
	font-family: 'Roboto-Medium';
}
.page-top-nav {
	margin-bottom: 31px;
}
.mail-content-select-box {
	background: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 3px 10px -3px rgba(0, 102, 190, 0.2);
	padding: 16px 13px 13px 17px;
	margin-bottom: 40px;
}
.mail-preview-img img {
	max-height: 102px;
	max-width: 73px;
	object-fit: contain;
}
.mail-preview-img {
	flex: 0 0 97px;
}
.mail-content-select-top .mail-box-content {
	padding: 0;
	width: calc(100% - 97px);
}
.mail-content-select-top {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.mail-content-select-top h5 {
	color: #0066BE;
}
.mail-content-select-top .mailbox-tags li {
	background: #E7F4FF;
	color: #0066BE;
	text-transform:capitalize;
}
.mail-content-select-top .mailbox-tags {
	margin-top: 12px;
}
.select-mail-option {
	position: absolute;
	right: -24px;
	background: #FFFFFF;
	box-shadow: -3px 3px 7px rgba(0, 102, 190, 0.3);
	border-radius: 5px 15px 5px 5px;
	width: 44px;
	height: 44px;
	top: -28px;
}
.select-mail-option input {
	width: 24px;
	height: 24px;
	opacity: 0;
	z-index: 1;
	position: absolute;
	left: 10px;
	top: 10px;
	border-radius: 50%;
	cursor:pointer;
}
.select-mail-option .checkmark {
	background: rgba(112, 137, 158, 0.41);
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: inline-block;
	margin: 10px;
	position: relative;
}
.select-mail-option input:checked ~ .checkmark {
  background-color: #39CABC;
}
.select-mail-option .checkmark:after {
  content: "";
  position: absolute;
}

.select-mail-option input:checked ~ .checkmark:after {
  display: block;
}
.select-mail-option .checkmark:after {
  left: 8px;
	top: 4px;
	width: 8px;
	height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mail-content-table table th {
	font-size: 14px;
	line-height: 16px;
	color: #004A89;
	font-family: 'Roboto';
	font-weight: 400;
	padding: 4px 8px 3px 0;
}
.mail-content-table table td {
	font-size: 14px;
	line-height: 16px;
	color: #70899E;
	font-family: 'Roboto-Light';
}
.mail-content-table {
	padding: 4px 0 14px;
}
.mail-content-footer {
	border-top: 0.5px dashed #0066BF;
	padding-top: 13px;
	text-align: right;
}
.mail-content-select {
	margin-top: 34px;
}
.mail-content-select .row {
	margin: 0 -12px 0 -22px;
}
.mail-content-select [class*="col-"] {
	padding: 0 22px;
}
.mail-content-footer .btn {
	padding: 6px 12px;
}
/**Craete Email End**/

.mail-templates .item img {
	padding: 12px 10px;
	width: 107px!important;
	background: #fff;
	box-shadow: 0px 1px 8px rgba(0, 102, 190, 0.2);
	border-radius: 15px;
	margin: 10px auto 13px;
}
.mail-templates .item {
	text-align: center;
}
.mail-templates .item p {
	font-size: 16px;
	line-height: 19px;
	text-transform: capitalize;
	color: #0066BE;
	text-align: center;
	margin: 0;
}
.mail-templates {
	background: #FFFFFF;
	box-shadow: inset 0px 0px 15px rgba(0, 102, 190, 0.15);
	border-radius: 15px;
	padding: 12px 77px;
	position: relative;
}
.mail-templates .owl-nav .owl-prev, .mail-templates .owl-nav .owl-next {
	position: absolute;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.mail-templates .owl-nav .owl-prev {
	left: 10px;
}
.mail-templates .owl-nav .owl-next {
	right: 10px;
	left:auto;
}
.mail-templates .owl-nav button:hover,.mail-templates .owl-nav button:focus, .mail-templates .owl-nav button:active{
	background:transparent !important;
	border:0;
	outline:none;
}
.select-mail-template {
	margin-top: 17px;
}

.form-inline .form-group label {
	font-size: 18px;
	line-height: 21px;
	text-transform: capitalize;
	color: #004A89;
	width: 145px;
	flex: 0 0 145px;
}
.form-inline .form-group input {
	background: #FFFFFF;
	box-shadow: 0px 1px 6px rgba(0, 102, 190, 0.2);
	border-radius: 30px;
	border: 0;
	padding: 12px;
	max-width: 580px;
}
.form-inline .form-group {
	display: flex;
	align-items: center;
}
.email-form {
	padding: 0;
}
.form-inline .form-group input#email-address {
	max-width: 364px;
}
.form-inline .right-side {
	justify-content: flex-end;
	display: flex;
	align-items: center;
}
.email-form {
	margin: 32px 0 0;
}
form .form-inline {
	margin-bottom: 24px;
}
.custom-container {
	max-width: 1330px;
	padding-left: 12px;
	padding-right: 12px;
}
form .input-group #tags-add {
	border: 1px solid #0066BE;
	box-sizing: border-box;
	border-radius: 30px;
	font-size: 16px;
	line-height: 19px;
	color: #0066BE;
	font-family: 'Roboto-Medium';
	padding: 10px 20px;
}
form .input-group .input-group-prepend {
	padding-right: 32px;
	margin-right: 22px;
	display: flex;
	align-items: center;
}
form .input-group .tags_added ul li {
	list-style: none;
	background: #E9DEEC;
	border-radius: 3px;
	font-size: 11px;
	line-height: 13px;
	color: #8A4E9C;
	font-family: 'Roboto-Light';
	padding: 4px 11px;
	margin-right: 9px;
	display: inline-block;
}
form .input-group .tags_added ul {
	padding: 0;
	margin: 0;
}
form .input-group .tags_added ul li img {
	width: 10px;
	margin-left: 5px;
}
.input-group-prepend::after {
	content: "";
	height: calc(100% - 16px);
	width: 1px;
	border: 1px dashed #0066BF;
	position: absolute;
	top: 8px;
	left: 164px;
}
form .input-group {
	border: 1px dashed #0066BE;
	box-sizing: border-box;
	border-radius: 15px;
	padding: 16px 32px;
	position: relative;
	margin-bottom: 40px;
}
.form-buttons .btn {
	filter: drop-shadow(0px 1px 6px rgba(0, 102, 190, 0.2));
	height: 40px;
	margin: 0 0 0 8px;
	padding: 9px 16px;
}
.form-buttons .approved-btn img, .form-buttons .btn.btn-large img {
	margin-left: 4px;
}
.form-buttons .btn.btn-large {
	padding: 9px 29px;
}
.form-buttons .approved-btn {
	border: 1px solid #39CABC;
	color: #39CABC;
	padding: 10px 29px;
}


/**Modal Tags**/

#tagsModal .modal-dialog {
  max-width: 1122px;
  box-shadow: 0px 3px 10px -3px rgba(0, 102, 190, 0.2);
  border-radius: 30px;
}
#tagsModal .modal-dialog .modal-content {
	box-shadow: 0px 3px 10px -3px rgba(0, 102, 190, 0.2);
	border-radius: 30px;
	padding: 17px;
}
#tagsModal .modal-header h5 {
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #0066BE;
  text-align: center;
  display: block;
}
#tagsModal .modal-header {
  justify-content: center;
  position: relative;
  border: 0;
  font-family: 'Roboto-Medium';
}
#tagsModal .modal-header .btn-close {
  margin: 0;
  color: red;
  position: absolute;
  right: 0;
  font-size: 6px;
  width: 6px;
  height: 6px;
  background-size: 16px;
}
.modal-dialog-scrollable .modal-body .tag-lists {
	box-shadow: inset 0px 0px 9px rgba(0, 102, 190, 0.28);
	border-radius: 15px;
	padding: 17px 20px 17px 16px;
	height: 144px;
	overflow: hidden;
}
.tag-lists-view {
	height: 108px;
	box-sizing: border-box;
	overflow-y: auto;
}
.modal-dialog-scrollable .modal-body .tag-lists .tag-lists-view div {
	display: inline-block;
	background: #8A4E9C;
	border: 0.5px solid #8A4E9C;
	box-sizing: border-box;
	border-radius: 3px;
	padding: 2px 17px;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	margin: 8px 16px 8px 0;
}
.tag-lists-view::-webkit-scrollbar {
  width: 10px;
}
 
.tag-lists-view::-webkit-scrollbar-track {
 background:#DCE6EF;
 border-radius:15px;
 padding:0 5px;
}
 
.tag-lists-view::-webkit-scrollbar-thumb {
  background-color: #97B6CF;
   border-radius:15px;
   width:5px;
}
.select-tags h6, .selected-tags h6 {
	font-size: 20px;
	line-height: 23px;
	color: #004A89;
	font-family: 'Roboto-Bold';
	margin: 0 0 13px;
}
.selected-tags h6 span {
	font-family: 'Roboto-light';
}
.selected-tags {
	margin-top: 37px;
}
.total-selected {
	border: 1px dashed #0066BE;
	box-sizing: border-box;
	border-radius: 15px;
	padding: 19px 16px;
	height: 134px;
	overflow-y: auto;
}
.total-selected div {
	display: inline-block;
	background: #E9DEEC;
	border: 0.5px solid #E9DEEC;
	box-sizing: border-box;
	border-radius: 3px;
	color: #8A4E9C;
	font-size: 14px;
	line-height: 16px;
	padding: 2px 7px 2px 15px;
}
.total-selected div img {
	margin-left: 15px;
}
#tagsModal .modal-footer {
	border: 0;
	justify-content: space-between;
	padding-top: 8px;
	padding-bottom: 2px;
}
#tagsModal .modal-footer form {
	margin: 0;
}
#tagsModal .modal-footer form .form-group {
	display: flex;
	align-items: center;
}
#tagsModal .modal-footer form .form-group .btn {
	width: 112px;
}
#tagsModal .modal-footer form .form-group #new-tag {
	box-shadow: 0px 1px 6px rgba(0, 102, 190, 0.2);
	border-radius: 30px;
	border: 0;
	padding: 12px;
	width: 238px;
	margin-right: 24px;
}
#tagsModal .modal-footer form .form-group label {
	min-width: 87px;
	color: #004A89;
	font-size: 18px;
	line-height: 21px;
	text-transform: capitalize;
}
#tagsModal .modal-footer .save.btn {
	margin: 0;
	min-width: 112px;
}
/**MOdal Tags Finish**/

.send-option-list {
	max-width: 703px;
	width: 100%;
	padding: 20px;
	border: 1px dashed #0066BE;
	box-sizing: border-box;
	border-radius: 15px;
	margin: 0 auto;
}
.send-option-list h5 {
	text-align: center;
	font-size: 24px;
	line-height: 28px;
	color: #004A89;
	font-family: 'Roboto-Medium';
	margin: 16px 0 38px;
}
.send-option-list ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}
.send-option-list ul li {
	margin: 0 42px;
	padding: 0;
	list-style: none;
}
.send-option-list ul li .send-option-img {
	background: #FFFFFF;
	box-shadow: 0px 1px 8px rgba(0, 102, 190, 0.2);
	border-radius: 15px;
	width: 224px;
	height: 224px;
	margin: 0 auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position:relative;
}
.send-option-list ul li p {
	text-align: center;
	margin: 25px 0 8px;
	font-size: 18px;
	line-height: 21px;
	color: #0066BE;
	 font-family: 'Roboto-Medium';
}
.send-option-list ul li .send-option-img input {
	width: 100%;
	position: absolute;
	left: 0;
	height: 100%;
	right: 0;
	visibility: hidden;
	z-index: 4;
	opacity: 0;
}
.send-mail-options {
    height: calc(100% - 100px);
    align-items: center;
    justify-content: center;
    display: flex;
}
/*CUSTOM CSS ADDED*/
.owl-dots{
	display: none;
}
.owl-carousel .owl-item img.active {
    border: 2px solid #7c76ad;
}
.send-option-img.active {
    border: 2px solid #5423cb;
}

