.custom-container {
    max-width: 1330px; 
    padding-left: 12px;
    padding-right: 12px;
}
.select-mail-template .alice-carousel {
    background: var(--white);
    box-shadow: inset 0px 0px 15px rgb(0 102 190 / 23%);
    border-radius: 15px;
    padding: 5px 23px;
}
.select-mail-template .alice-carousel .alice-carousel__prev-btn {
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADsSURBVHgBrZXBDYJAEEX/YAOWQAluCR7Rgy3AyWAVWIThiFRgPBCPVmBogRKsgHU5qAlZYHd2/oUsmbxHQuYvISDlo42px00T1hGhOCaqHs9EYGaAQ+Np4BtzjHuNwjbHEnzhA/j3UuNumyUIwDVQn3YqDRb4wr0EHLizgAt3EoTAFwWh8FmBBHxSIAUfYl000qgk4JMCi1CDGavA9EtmHt3fgLRs2gqMeP1kc77me5VBQiAlYS2aj4RdFa6SoLJzkQTX9ZJE5MKZk3hfmXmiOvNZW4z25NK8ChHBlIQoOogJxhLTI+8VcLbNfQAv0pggMD35+AAAAABJRU5ErkJggg==) no-repeat center center;
}
.select-mail-template .alice-carousel .alice-carousel__prev-btn, .select-mail-template .alice-carousel .alice-carousel__next-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-mail-template .alice-carousel .alice-carousel__next-btn {
    transform: translateY(-50%)rotate(180deg);
    right: 16px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADsSURBVHgBrZXBDYJAEEX/YAOWQAluCR7Rgy3AyWAVWIThiFRgPBCPVmBogRKsgHU5qAlZYHd2/oUsmbxHQuYvISDlo42px00T1hGhOCaqHs9EYGaAQ+Np4BtzjHuNwjbHEnzhA/j3UuNumyUIwDVQn3YqDRb4wr0EHLizgAt3EoTAFwWh8FmBBHxSIAUfYl000qgk4JMCi1CDGavA9EtmHt3fgLRs2gqMeP1kc77me5VBQiAlYS2aj4RdFa6SoLJzkQTX9ZJE5MKZk3hfmXmiOvNZW4z25NK8ChHBlIQoOogJxhLTI+8VcLbNfQAv0pggMD35+AAAAABJRU5ErkJggg==) no-repeat center center;
}
.select-mail-template .alice-carousel .alice-carousel__prev-btn, .select-mail-template .alice-carousel .alice-carousel__next-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-mail-template .alice-carousel .item img {
    width: 100%;
    padding: 0px;
    box-shadow: 0px 1px 8px rgb(0 102 190 / 24%);
    border-radius: 15px;
    max-width: 107px;
    padding: 12px 11px;
}
.select-mail-template .alice-carousel .item p {
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: var(--light-blue);
    font-family: 'Roboto';
    margin: 9px 0 0;
}