@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	scroll-behavior: smooth;
  }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
img, fieldset, a img {
  border: none;
}
input[type="email"], input[type="number"], input[type="password"], input[type="search"] {
	-webkit-appearance: none;
	-moz-appearance: none;
}
input[type="submit"],
button {
  cursor: pointer;
}
input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
input, button, textarea {
  margin: 0;
  padding: 0;
  border: 0;
}
input:focus, button:focus, textarea.form-control:focus {
  box-shadow:none;
  outline:none;
}
div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}
ul, ol {
  list-style-type: none;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto';
}
h1{
  font-size: 45px;
}
h2{
  font-size: 34px;
}
h3 {
  font-size: 30px;
}
h4{
  font-size:26px;
}
h5{
  font-size: 22px;
}
h6{
  font-size:20px;
}
p{
	font-size:18px;;
}

:root{
	--color-white: #ffffff;
	--color-primary:#0066BE;
	--color-red:#f00;
	--color-green: #00D4C0;
	--color-black:#000000;
}

body{ font-family: 'Roboto';color: var(--color-primary);}

@media only screen and (min-width:1440px){
	.container{max-width: 1240px;}
	.custom-container{max-width: calc(100% - 64px);}	
}
.custom-container{padding-left:15px; padding-right:15px;
	margin-right: auto;
    margin-left: auto;
}
body{
    background: #ebebeb;
}
.top-header {
    background: linear-gradient(301.76deg, #263373 8.01%, var(--color-primary) 63.48%);
    border-radius: 50px 50px 0px 50px;
    width: 100%;
	padding:17px 14px;
}
.header-title h2 {
	color: var(--color-white);
	font-family: 'Roboto-light';
	position: relative;
	margin-bottom: 43px;
}
.header-title h2 span {
    font-family: 'Roboto-bold';
    display: block;
}
.header-title h2::after {
	content: "";
	border-bottom: 6px solid var(--color-green);
	position: absolute;
	width: 165px;
	border-radius: 15px;
	left: 0;
	bottom: -19px;
}
.header-title h5 {
	color: var(--color-white);
	font-family: 'Roboto-medium';
	margin-bottom: 3px;
}
.header-title {
	padding: 12px 0 12px;
}
.site-logo img {
    max-width: 38px;
}
.header {
	padding: 32px 0 22px;
}
.register-today-inside {
	position: relative;
	padding: 30px 92px 60px;
}
.register-today-inside::after {
	background: var(--color-white);
	mix-blend-mode: hard-light;
	opacity: 0.76;
	box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.08);
	border-radius: 32px;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.register-today-inside h2 {
	font-size: 38px;
	line-height: 45px;
	color: var(--color-primary);
	font-family: 'Roboto-light';
	padding: 3px 0px 20px;
	margin-bottom: 20px;
	position:relative;
}
.footer-logo img {
    max-width: 300px;
}
label.form-check-label{line-height: 19px;}
.register-today-inside h2::after {
	content: "";
	width: 204px;
	border-top: 6px solid var(--color-green);
	left: 0px;
	position: absolute;
	border-radius: 20px;
	bottom: 5px;
}
.register-today-inside h2 span {
	font-family: 'Roboto-bold';
}
.register-today-inside h5 {
	line-height: 30px;
	letter-spacing: 0.02em;
	color: var(--color-primary);
	font-family: 'Roboto-bold';
	padding: 0 0px 30px;
}
.center-sided-inside label {
	font-size: 18px;
	line-height: 27px;
	color: var(--color-primary);
	width: 100%;
	font-family: 'Poppins-semibold';
	padding: 0 0 9px 14px;
}
.dropdown-toggle.dropdown-label, .center-sided-inside .form-control {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
	border-radius: 20px;
	padding: 18px 32px;
	font-size: 16px;
	font-family: 'Poppins-medium';
	color: #9C9B9B;
	height: auto;
	line-height: 25px;
	width: 100%;
	background: var(--color-white);
	border: 0;
}
.dropdown-toggle.dropdown-label::after {
	width: 10px;
	height: 10px;
	right: 20px;
	position: absolute;
	top: 25px;
	border-top: 2px solid #9C9B9B;
	border-right: 2px solid #9C9B9B;
	transform: rotate(135deg);
	margin: 0;
	border-left: 0;
	transition: .2s;
}
.btn-group .dropdown-menu {
	width: 100%;
	box-shadow: 0px 5px 10px rgb(0 0 0 / 8%);
	border-radius: 20px;
	padding: 12px 9px;
	border: 0;
	margin: 5px 0 0;
}
.btn-group .dropdown-menu a.dropdown-item {
	padding: 4px 15px;
	font-family: 'Poppins';
	color: #263474;
	border-radius: 32px;
	margin-bottom: 2px;
}
.center-sided-inside {
	margin-top: 14px;
}
.consent-form-list .btn-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.center-sided-inside .consent-form-list {
	margin-bottom: 15px;
}
.consent-form-list  label.error {
    color: var(--color-red);
    font-family: 'Poppins';
    font-size: 16px;
    padding-bottom: 0;
}
.consent-form-list .form-check input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 24px;
	width: 24px;
	margin: 0;
	left: 0;
	z-index: 9;
}
.checkmark {
	position: absolute;
	top: 0px;
	left: 0;
	height: 24px;
	width: 24px;
	background-color: var(--color-white);
	border-radius: 50%;
	border: 2px solid var(--color-primary);
}
.form-check .checkmark::after {
	content: "";
	position: absolute;
	display: none;
}
.form-check input:checked ~ .checkmark::after {
	display: block;
}
.form-check .checkmark::after {
	top: 4px;
	left: 4px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: var(--color-primary);
}
.center-sided-inside .row {
	justify-content: flex-end;
}
.center-sided-inside .btn {
	background: linear-gradient(301.76deg, #263373 8.01%, var(--color-primary) 63.48%);
	border-radius: 0px 15px;
	color: var(--color-white);
	font-size: 18px;
	line-height: 30px;
	border: 0;
	font-family: 'Roboto-light';
	padding: 10px 20px;
	min-width: 168px;
	transition:0.2s;
}
.center-sided-inside .btn:hover {
	background: linear-gradient(301.76deg, var(--color-primary) 8.01%, #263373 63.48%);
}
.center-sided-inside .consent-form-list.custom-yes-no {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
}
.center-sided-inside .consent-form-list.custom-yes-no .form-check {
	width: 100%;
	max-width: 308px;
}
.register-today {
	margin-bottom: 30px;
}
.top-webinar-view {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 83px 135px;
    margin: 18px 0 0;
    background: var(--color-white);
    border: 2px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.08);
    border-radius: 0px 50px;
    position: relative;
}
.top-webinar-view:before {
    content: "";
    /* background-image: url(../images/small-circle-group.png); */
    position: absolute;
    left: 31px;
    background-size: 100%;
    width: 80px;
    height: 99px;
    background-repeat: no-repeat;
    top: 57px;
}
.webinar-start {
    margin-top: -130px;
    position: relative;
    z-index: 5;
    max-height: calc(100vh - 150px);
}
.webinar-start .view-portal {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.18));
    min-height: 300px;
    border-radius: 25px;
    border: 1px solid var(--color-white);
	width: calc(100% - 170px);
    overflow: hidden;
    margin: 0 auto;
    background: rgba(241, 241, 241, 0.15);
    mix-blend-mode: normal;
	-moz-backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px rgb(0 0 0 / 18%);
    height: calc(100vh - 187px);
    display: flex;
    box-sizing: border-box;
}
.webinar-portal h2 {
    font-family: 'Roboto';
    color: #231f20;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.02em;
    font-weight: 700;
}
.webinar-portal {
	padding-left: 12px;
	position: relative;
	top: -12px;
}
.site-scanner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-scanner img {
    max-width: 70px;
    margin-right: 5px;
}

.site-scanner p {
    font-size: 12px;
    color: #1B6194;
    font-family: 'Roboto';
}
.user-info .log-status button {
	background: transparent;
	border: 0;
	padding: 0 0 0 3px;
	letter-spacing: 0.03em;
	text-decoration-line: underline;
	color: var(--color-primary);
	font-family: 'Roboto-bold';
}
.user-info .log-status {
    display: flex;
    align-items: center;
    margin-left: 22px;
}

.log-status a {
    padding: 0 0 0 3px;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #1B6194;
	font-weight:400;
}
.user-info .log-status a img {
    margin-right: 4px;
}
.user-name {
    display: flex;
    align-items: center;
}
.user-info .user-name p {
    color: #64b8b0;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}
.user-info .user-name p span{
    font-weight: 700;
}
.webinar-video {
    padding: 20px 20px 20px 68px;
    width: 100%;
    display: flex;
    background-size: cover;
	position: relative;
	height: 100%;
    align-items: center;
	margin:0;
	overflow:hidden;
}
.video-play{
	-webkit-transition: all 0.9s ease;
    -moz-transition: all .9s ease;
    -ms-transition: all .9s ease;
    -o-transition: all .9s ease;
	transition: all .9s ease;
	width: 100%;
    height: 100%;
    background: #000000;
}
#vdo-stream, #vdo-stream iframe{height:100%;}
.open .video-play {
    margin-left: 320px;
	/* height: auto; */
	-webkit-transition: all 0.9s ease;
    -moz-transition: all .9s ease;
    -ms-transition: all .9s ease;
    -o-transition: all .9s ease;
	transition: all .9s ease;
}
.chat-option-list ul.close-chat li {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
.chat-option-list ul.close-chat li button {
    color: #1B6194;
    width: auto;
    height: auto;
    padding: 0 0 4px;
    align-items: center;
    position: absolute;
    background: transparent;
    top: 15px;
    padding: 0;
    z-index: 6;
}
.video-play video {
    width: 100%;
    /* object-fit: cover; */
    height: 100%;
}
form#sent_contact p {
    color: #000000;
    font-size: 14px;
    line-height: 155.5%;
    font-family: 'Roboto';
    font-weight: 400;
    margin: 0 0 10px;
}
.chat-option-list {
    padding: 10px 10px 10px 16px;
    width: 100%;
    max-width: 306px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    left: -400px;
	position: absolute;
background: rgba(198, 198, 198, 0.1);
mix-blend-mode: normal;
box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
-moz-backdrop-filter: blur(42px);
-webkit-backdrop-filter: blur(42px);
backdrop-filter: blur(42px);
border-radius: 0px 25px 25px 25px;
}
/* .webinar-video.open ul.open-chat {
    display: none;
} */
.webinar-video.open .chat-option-list {
    left: 67px;
}
.footer-detail {
	width: 100%;
	padding: 132px 84px 7px 84px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	border-top: 0;
	background: var(--color-white);
	border: 1px solid var(--color-white);
	box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.11);
	border-radius: 0px 0px 30px 30px;
	position: relative;
}
.footer-detail:after {
    content: "";
    position: absolute;
    bottom: 42px;
    right: 10px;
    /* background-image: url(../images/big-circle-group.png); */
    background-repeat: no-repeat;
    background-size: 100%;
    width: 152px;
    height: 124px;
}
.form-group {
    margin-bottom: 9px;
}
.form-group.custom_form .form-group {
    margin-bottom: 0;
}

.webinar-footer {
    position: relative;
    margin-top: -127px;
}
.privacy-link ul {
	display: flex;
	flex-wrap: wrap;
}
.privacy-link ul li{margin-left:48px;}
.privacy-link ul li a {
	font-size: 12px;
	line-height: 25px;
	letter-spacing: 0.03em;
	color: #1B6194;
	font-family: 'Roboto';
}
.chat-option ul button {
    background: #64b8b0;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    font-size: 14px;
    line-height: 20px;
    padding: 4px 16px;
    color: var(--color-white);
    font-family: 'Roboto';
    font-weight: 400;
    margin: 0 6px;
    min-width: 118px;
	text-align: center;
	border: 1px solid #64b8b0;
    min-height: 38px;
}
.chat-option ul button:hover, .chat-option ul button.active {
    background: rgba(198, 198, 198, 0.1);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
    -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
	border: 1px solid var(--color-white);
	color:#64b8b0;
}
.chat-option ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transform: scaleX(-1);
}
.chat-option ul.close-chat {
    display: none;
}
.chat-option {
    position: absolute;
    transform: rotate(-90deg) scaleX(-1);
    transform-origin: top left;
    top: 14px;
    left: 13px;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #e9ecef;
}
.user-info {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    height: 100%;
    justify-content: flex-end;
}
.chat-option-list .nav-item .nav-link {
    font-size: 28px;
    line-height: 162.5%;
    text-align: center;
    color: #1B6194;
    font-family: 'Roboto';
    border: 0;
    padding: 0;
	font-weight: 700;
	position: relative;
	background-color: transparent;
}

.chat-option-list .nav-item .nav-link.active:after {
    font-family: 'Roboto-bold';
    border-bottom: 8px solid #64b8b0;
    position: absolute;
    content: "";
    left: -1px;
    bottom: -8px;
    border-radius: 25px;
    height: 8px;
    min-width: 137px;
    width:100%;
}
.webinar-video .chat-option-list .tab-content {
    margin-top: 16px;
}
.chat-option-list .nav.nav-tabs {
    display: flex;
    align-content: center;
    justify-content: space-between;
    border: 0;
    position: relative;
    padding-bottom: 7px;
}
.chat-option-list .nav.nav-tabs:after {
    content: "";
    border-bottom: 2px dashed #64b8b0;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 2px;
    margin: 0 auto;
    z-index: -1;
}
.chat-option-list textarea{
	background: var(--color-white);
	border-radius: 20px;
	resize: none;
	border: 0;
}
.webinar__description button, #sent_contact .submit_btn {
    background: #64b8b0;
    border-radius: 25px;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-white);
    padding: 6px 8px;
    font-family: 'Open Sans';
    font-weight: 500;
    min-width: 124px;
}
.webinar__description button:hover, #sent_contact .submit_btn:hover {
    background: #11afab;
    border-color: #11afab;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, 
.webinar__description button:focus, #sent_contact .submit_btn:focus, .webinar__description button:active, #sent_contact .submit_btn:active {
    background-color: #64b8b0;
    border-color: #64b8b0;
}
.webinar__description button img, #sent_contact button img{
	margin-left: 6px;
}
.chat-option-list .text-left {
    padding: 0px 6px 10px;
    line-height: 1.2;
}
.form-group.answer_block.text-left.form_ans p {
    color: #64b8b0;
    font-size: 13px!important;
	word-break: break-word;
}
.chat-option-list textarea {
    margin-bottom: 16px;
    height: 104px;
}
.chat-option-list textarea {
    margin-bottom: 16px;
    height: 104px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: #9C9B9B;
    padding: 16px;
}
.chat-option-list #sent_contact  textarea {
    margin-bottom: 16px;
    height: 180px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: #9C9B9B;
    font-weight: 400;
    padding: 16px;
}
#sent_contact input.form-control {
    background: var(--color-white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    height: 41px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 14px;
    color: #9C9B9B;
}    
#sent_contact .submit_btn {
    margin: 32px auto 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.success_msg .alert {
    font-size: 13px;
}
.form-check label.form-check-label {
    line-height: 19px;
    color: #3C2621;
    font-family: 'Roboto';
    font-weight: 500;
}
.webinar__description .question_form {
    width: 100%;
    background: var(--color-white);
    border-radius: 20px;
    margin-bottom: 16px;
    padding: 28px 10px;
}
.webinar__description .question_form .question_form-list {
    max-height: 403px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}
.question_form .question_form-list::-webkit-scrollbar {
	width: 8px;
	border-radius: 10px;
  }
  .question_form .question_form-list::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(180, 180, 180, 0.3);
	border-radius: 10px;
  }
  .question_form .question_form-list::-webkit-scrollbar-thumb {
    background-color: #64b8b0;
	outline: none;
	border-radius: 10px;
	height:80px;
  }
.webinar__description {
	flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
    height: 100%;
}
.chat-option ul.close-chat li button {
    background: linear-gradient(301.76deg, #263373 8.01%, var(--color-primary) 63.48%);
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    color: var(--color-white);
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 7px;
    min-width: 30px;
    position: absolute;
    left: 0;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form#sent_contact legend.legend-heading b, label.mrgn-remove b {
    font-size: 14px;
    line-height: 16px;
    display: block;
    color: #3C2621;
    font-family: 'Roboto';
    font-weight: 500;
}
form#sent_contact {
    margin-top: 20px;
}
.question_form .admin-message, .question_form .user-message {
    margin: 0px 0;
    display: block;
    float: left;
    width: 100%;
}
.question_form .user-message label {
    float: left;
	width: 100%;
	font-size: 14px;
	color: var(--color-black);
}
.question_form  .text-right {
	padding: 0 0px;
	display: flex;
    width: 100%;
}
.custom_form .form-group label.mrgn-remove {
    text-align: left;
    display: block;
}
.custom_form .form-group {
    margin-top: 14px;
    text-align: right;
}
div#contact_messsage p.alert {
    font-size: 13px;
    text-align: left;
    display: block;
    padding: 5px 10px;
    margin-top: 10px;
}
.form-group.custom_form {
    margin-bottom: 0;
}
::-webkit-scrollbar {
	width: 5px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(180, 180, 180, 0.3);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
	background-color: #64b8b0;
	outline: none;
    border-radius: 10px;
    height:40px;
  }
  button:focus, button:active, input:focus, input:active {
    outline: none;
    box-shadow: none!important;
}
.webinar-video .chat-option-list {
    height: calc(100% - 40px);
}
.webinar-video .chat-option-list .chat-option-list-inset {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    padding-right: 6px;
    position:relative;
}
#sent_contact .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: var(--color-white);
    border-radius: 50%;
    border: 2px solid #1b6194;
    margin: 0;
}
#sent_contact input[type="checkbox"] {
    opacity: 0;
    z-index: 5;
    cursor:pointer;
}
#sent_contact .form-check .checkmark::after {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--color-primary);
}
.question_form .text-right .text-right-content {
    background: #EBF2F8;
    border-radius: 20px 0px 20px 20px;
    padding: 5px 10px 10px;
    min-width: 100px;
    max-width: 85%;
}
.question_form .text-right .text-right-content label, .question_form .text-left label {
    color: #AEB9C2;
    font-size: 10px;
    line-height: 14px;
}
.question_form .text-left label{
color:var(--color-primary);
}
.question_form .text-right .text-right-content p, .chat-option-list .text-left p {
    padding: 0!important;
    font-size: 13px!important;
    line-height: 15px;
    color: #000;
    white-space: normal;
    word-break: break-word;
}
.question_form  .text-right {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 11px!important;
}
.form-control:focus {
    border-color: transparent;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    transition: background-color 5000s;
	-webkit-text-fill-color: #9C9B9B;
}
.open-call-button:hover svg, .open-call-button:hover svg path, .open-call-button.active svg, .open-call-button.active svg path {
    fill: #64b8b0;
}
#call-request{
    min-width: 20px;
    border-radius: 30px;
    padding: 8px 10px;
    width: 42px;
    height: 42px;
}

#open-qr-button {
    min-width: 20px;
    border-radius: 30px;
    padding: 8px 10px;
    width: 110px;
    height: 38px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.chat-option ul #call-request svg {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.webinar-video .video-play .img-loader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 100%;
}
.webinar-video .video-play {
    display: flex;
    align-items: center;
}
.chat-option-list #call .contactborder {
    padding-top: 9px;
    padding-bottom: 15px;
}
.chat-option-list #call .contactborder p {
    font-size: 14px;
    line-height: 155.5%;
    color: #000000;
    font-weight: 400;
}
.chat-option-list #call .contactborder button {
    background: #64b8b0;
    border-radius: 25px;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-white);
    font-family: Open Sans;
    padding: 5px 20px;
    min-width: 124px;
    margin: 25px auto 0;
    display: block;
    border: 1px solid transparent;
}
.chat-option-list #call .contactborder button:hover {
    background: rgba(198, 198, 198, 0.1);
    box-shadow: 0px 0px 16px rgb(0 0 0 / 16%);
	-webkit-backdrop-filter: blur(15px);
	-moz-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: 1px solid var(--color-white);
    color: #64b8b0;
}
#acceptCallRequestModel .modal-content {
    filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.16));
    border-radius: 20px;
    padding: 21px 17px;
    border:0;
}
#acceptCallRequestModel .modal-content .modal-header {
    display: none;
}
#acceptCallRequestModel .modal-content #accept-content {
    background: rgba(198, 198, 198, 0.1);
    mix-blend-mode: normal;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    padding: 50px 24px 24px 40px;
}
#pollModel .modal-footer #submitPollAnswer {
    border-radius: 30px;
}
#acceptCallRequestModel .modal-dialog {
    max-width: 650px;
}

#acceptCallRequestModel .modal-content #accept-content p {
    font-size: 18px!important;
    line-height: 155.5%;
    color: #010000;
    font-weight: 400!important;
	padding-right:16px;
}

#acceptCallRequestModel .modal-content #accept-content p strong {
    margin: 26px 0 27px;
    display: block;
}
#acceptCallRequestModel .action-button button {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    background: #1B6194;
    border-radius: 25px;
    color: var(--color-white);
    padding: 7px 15px;
    min-width: 124px;
    margin-left: 16px;
	border: 1px solid #1B6194;
}
#acceptCallRequestModel .action-button button:hover {
background: var(--color-white);
 color: #1B6194;	
	
}
#acceptCallRequestModel .action-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#acceptCallRequestModel .action-button button#cancelSelf {
	background: var(--color-white);
border: 1px solid #1B6194;
box-sizing: border-box;
 color: #1B6194;
}
#acceptCallRequestModel .action-button button#cancelSelf:hover {
background: #1B6194;
  color: var(--color-white);
}
.modal-backdrop {
    display: none;
}
.video-section {
    background: #000;
    min-height: 137px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    line-height: 155.5%;
    padding: 16px;
}
.chat-option-list  .waiting, .chat-option-list  .call-progress {
    filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.16));
    border-radius: 20px;
    background: rgba(198, 198, 198, 0.1);
    mix-blend-mode: normal;
    padding: 12px 16px 16px;
    border: 1px solid #ffffff29;
    margin-top: 20px;
}
#call-request-content1 {
    margin-top: 20px;
}
.chat-option-list .waiting .video-content-section, .chat-option-list .call-progress .video-content-section {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 155.5%;
    color: var(--color-white);
    font-weight: 500;
    font-family: 'Roboto';
    align-items: center;
    padding-bottom: 10px;
}
.chat-option-list .waiting .video-content-section span, .chat-option-list .call-progress .video-content-section span {background: #D7D4CF;width: 11px;height: 11px;border-radius: 50%;margin-left: 6px;}
.microphone-error-section h4 {
    font-size: 18px;
    line-height: 155.5%;
    color: #AF0E0E;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.chat-option-list .call-progress .video-content-section span {
background-color: #C00505;
}
.chat-option-list #call .contactborder.microphone-error {
    padding-top: 4px;
}
.microphone-error-section ol li {
    font-size: 14px;
    line-height: 155.5%;
    color: var(--color-white);
    font-weight: 300;
    list-style-position: inside;
    padding: 0 10px;
}
.microphone-error-section ol {
    list-style-type: decimal;
}
.microphone-error-section img {
    padding: 42px 15px;
    margin: 0 auto;
    text-align: center;
}
.microphone-error-section li img {
    padding: 0;
    max-width: 184px;
    margin: 10px auto 10px;
    display: block;
}
.microphone-error-section ol li:first-child {
    padding-bottom: 51px;
}
.microphone-error-section ol li span {
    color: #64b8b0;
}
.chat-option-list #call .contactborder #closeMic {
    background: #1B6194;
}
.chat-option-list #call .contactborder #closeMic:hover {
    background: var(--color-white);
	color:#1B6194;
	border-color:#1B6194;
}
.chat-option-list .text-left {
    background: #dbecea;
    border-radius: 0px 20px 20px 20px;
    padding: 7px 10px 10px;
    min-width: 100px;
    max-width: 90%;
    min-height: 50px;
    display:inline-block;
}  
div#shared-stream {
    height: 100%;
}           
.webinar__description .question_form {
	height: calc(100% - 179px);
}
.webinar-video.open .chat-option-list .tab-content > .active {
	display: block;
    padding-bottom:1px;
}
.webinar-video .chat-option-list .tab-content {
	height: calc(100% - 71px);
}
.chat-option-list #call .contactborder button#cancel-button {
    background: #1B6194;
}
.chat-option-list #call .contactborder button#cancel-button:hover{
    color:#1B6194;
    background-color: transparent;
}
.call-progress .video-section{padding:0;}
.call-progress .video-section video#self-view {
    width: 100%!important;
    object-fit: cover;
    height: 137px;
}
.webinar__description .question_form .question_form-list {
    padding-right: 3px;
}
#pollModel .modal-header, #pollModel1 .modal-header, #pollAnswerModel .modal-header, #socketConnect .modal-header{
    padding: 15px 25px;
    border: 0;
    background: #64b8b0;
}
#pollModel1 .modal-content {
    border-radius: 0.3rem;
}
/* #pollModel .modal-dialog, #pollAnswerModel .modal-dialog, #socketConnect .modal-dialog{
    max-width: 700px;
    border: 0;
} */
#pollModel{
    max-width: 700px;
}
.modal-backdrop.show {
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
    display: block;
}
/* #pollModel, #pollAnswerModel, #socketConnect {
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
} */
#pollModel .modal-body {
	padding: 20px 15px;
	display: flex;
	flex-wrap: wrap;
}
#pollModel .modal-body p, #pollModel1 .modal-body p  {
	font-size: 20px;
	margin-bottom: 20px;
	color: #1b6194;
	width: 100%;
    font-weight: 500;
}
#pollAnswerModel .detail-box.form_box p#questionText {
    margin-bottom: 30px;
}

#pollModel .modal-header .close, #pollAnswerModel .modal-header .close, #socketConnect .modal-header .close {
    position: absolute;
    right: 0;
    color: var(--color-white);
    opacity: 1;
    box-shadow: none;
    text-shadow: none;
    font-size: 34px;
    font-weight: 300;
    padding: 0 16px;
    margin: 0;
}
#pollModel .form-check.form-check-inline {
	width: 50%;
	margin: 0 0 5px;
	align-items: flex-start;
}

#pollModel .form-check.form-check-inline .form-radio-input {
    margin: 3px 5px 0 0;
}
#pollModel textarea.form-control {
    height: 100px;
    border: 1px solid #1b6194;
    resize: none;
    margin-top: 10px;
}

#pollModel .modal-footer #submitPollAnswer {
    margin: 0;
    padding: 7px 13px;
    background: #1b6194;
    border: 1px solid #1b6194;
}
#pollModel .modal-footer #submitPollAnswer:hover {
    background: var(--color-white);
    color: #1b6194;
}
#pollModel .form-check.form-check-inline label {
    color: #1b6194;
    font-weight: 500;
    font-size: 15px;
}
#pollModel .modal-dialog .modal-content, #pollAnswerModel .modal-dialog .modal-content, #socketConnect .modal-dialog .modal-content{
    border: 0;
    box-shadow: 0px 0px 16px rgb(0 0 0 / 16%);
}
.webinar-video.open .chat-option-list .tab-content > .active {
    height: 100%;
}

.shared-screen-view #vdo-stream {
	position: absolute;
	width: 150px !important;
	height: 90px;
	right: 20px;
	top: 17px;
}
#socketConnect .modal-body p {
    text-align: center;
}
#socketConnect .modal-body button#socketConnection {
    margin: 10px 0 0;
    padding: 7px 13px;
    background: #1b6194;
    border: 1px solid #1b6194;
    color: var(--color-white);
    border-radius: 30px;
}
.chat-option ul button a {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.chat-option ul button:hover a {
    color: #64b8b0;
}

.chat-option ul button svg {
    width: 18px;
    height:auto;
}
.chat-option ul button svg path, .chat-option ul button svg rect{fill:#fff}
.chat-option ul button:hover svg path, .chat-option ul button:hover svg rect, .chat-option ul button.active svg path, .chat-option ul button.active svg rect{fill:#64b8b0}
.webinar-video.open .chat-option-list .tab-content img {
    max-width: 100%;
} 
#pollModel.modal-dialog .modal-content {
    border-radius: 0.3rem;
}
#pollModel .form-check.form-check-inline.full {
    width: 100%;
    padding: 0px;
}
#pollModel .form-check.form-check-inline.full textarea {
    border: 1px solid #dadada;
    width: 100%;
    margin-top: 10px;
}
 .modal-dialog .modal-header .btn-close {
    filter: brightness(0) invert(1);
}
.modal-header .modal-title {
    padding: 0 8px;
}

.modal-header .modal-title img {
    display: block;
    max-width: 215px;
    width: 100%;
}

#pollModel .modal-header {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width:767px){
#pollModel, #pollModel1 {
    max-width: 90%;
}
.modal-header .modal-title img {
    max-width: 130px;
}
.modal .modal-content {
    padding: 0;
}
#pollModel .modal-body, #pollModel1 .modal-body {
    padding: 20px 20px;
}
#pollModel .modal-body p, #pollModel1 .modal-body p {
    font-size: 16px;
    margin-bottom: 12px;
}
#pollModel .form-check.form-check-inline {
    width: 100%;
}
#pollModel.modal-dialog .modal-header .btn-close, #pollModel1.modal-dialog .modal-header .btn-close {
    right: 9px;
    top: 11px;
}
#pollModel .modal-footer button, #pollModel1 .modal-footer button  {
    padding: 7px 10px;
    font-size: 15px;
}
#pollModel.modal-dialog .modal-content, #pollModel1.modal-dialog .modal-content {
    padding: 0;
}
body {
    padding-bottom: 45px;
}
}