
:root {
  --white: #ffffff;
  --black: #000000;
  --light-blue: #0066be;
  --dark-blue: #004a89;
  --light-skyblue: #e7eff6;
}

* {
  box-sizing: border-box;
}

body,
p {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.informed-survey-text p {
  font-size: 13px;
  color: #70899e;
}

.informed-survey {
  width: 100%;
  max-width: 723px;
  margin: 15px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}

.informed-survey-header {
  padding: 16px 30px 22px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 139px;
  gap: 16px;
  border-radius: 6px 6px 0 0;
}

.informed-survey-header h2 {
  margin: 0;
}

.informed-survey-body {
  padding: 24px 56px;
  margin-top: -6px;
  border-radius: 6px;
}

.informed-survey-text {
  margin-bottom: 20px;
}

.informed-survey-question p {
  margin: 0 0 10px;
}

.informed-survey-question label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.informed-survey-question input[type="radio"],
.informed-survey-question input[type="checkbox"] {
  margin-right: 10px;
}

.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

.form-footer button {
  padding: 10px 20px;
  border: none;
  color: var(--white);
  cursor: pointer;
}

.divider {
  border-top: 1px dashed var(--dark-blue);
  margin: 5px 0;
  height: initial;
}

p {
  margin: 0;
}

.consent-item {
  margin-bottom: 10px;
}

.question-title p {
  color: var(--dark-blue);
  font-size: 12px;
  font-weight: 500;
  line-height: 132%;
  margin: 0 0;
  word-break: break-word;
}
.question-title >* {
  display: inline;
}

.helper-text {
  font-size: 11px;
  margin-top: 2px;
  display: block;
  margin-bottom: 16px;
  color: rgb(112, 137, 158);
}

#survey-form {
  gap: 40px;
  display: flex;
  flex-direction: column;
  margin: 60px 0 0;
}

textarea {
  border-radius: 4px;
  background: var(--white);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.16);
  width: 100%;
  resize: none;
  padding: 12px;
  min-height: 80px;
  font-size: 12px;
  color: #004A89;
  border: 0;
  margin: 10px 0 0;
  font-family: "Roboto";
}

.survey-question h3 {
  margin: 0;
}

label.check {
  color: #70899e;
  font-size: 12px;
  font-weight: 400;
  line-height: 152%;
  margin: 0 0 12px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding-left: 29px;
  position: relative;
  min-height: 16px;
  word-break: break-word;
}

label.check:last-child {
  margin: 0 0;
}

span.checkmark {
  border: 1px solid rgb(112, 137, 158);
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 1px;
  cursor: pointer;
  background: var(--white);
}

input[type="checkbox"] ~ span.checkmark {
  border-radius: 3px;
}

input[type="radio"] ~ span.checkmark {
  border-radius: 50%;
}

/*       
input[type="checkbox"]:checked~.checkmark:after {
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  border-radius: 0;
  content: "";
  position: absolute;
  display: block;
} */
.survey-question h2, .survey-question h3 {
  margin: 0;
}
input[type="radio"]:checked ~ .checkmark:after {
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--dark-blue);
  content: "";
  position: absolute;
}

input[type="radio"]:checked ~ .checkmark {
  border-color: var(--dark-blue);
}
input[type="checkbox"]:checked ~ .checkmark {
  background: var(--dark-blue);
}
.informed-survey-header h2 {
  font-size: 20px;
}
.modal .modal-dialog {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-dialog-centered {
  align-items: center;
  display: flex;
  min-height: calc(100% - 1.75rem * 2);
}
.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cookieadd, #thanks-modal {
  -webkit-backdrop-filter: blur(7.099999904632568px);
  backdrop-filter: blur(7.099999904632568px);
  background: rgba(0, 0, 0, 0.27);
  opacity: 1;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  bottom: 0;
}
.cookieadd .modal-content, #thanks-modal .modal-content{
  background: var(--white);
  border: 0;
  border-radius: 15px;
  box-shadow: 0 0 19px hsla(0, 0%, 100%, 0.2);
  height: 100%;
  left: 0;
  max-height: 500px;
  right: 0;
  width: 100%;
}
#thanks-modal .modal-content{
  height: auto;
}
.modal-header .modal-title {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(109deg, #0066be 12.9%, #004a89 87.1%);
  background-clip: text;
  -webkit-background-clip: text;
  color: #001489;
  font-size: 20px;
  font-weight: 600;
}

.form-footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 25px 0 0;
}

.form-footer button {
  border-radius: 30px;
  background: var(--dark-blue);
  box-shadow: 0px 1px 6px 0px rgba(0, 102, 190, 0.2);
  border: 0;
  color: var(--white);
  font-size: 13px;
  font-weight: 500;
  min-width: 90px;
  padding: 10px;
  cursor: pointer;
  font-family: "Roboto";
}

.form-footer span {
  color: #70899e;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 132%;
  margin: 24px 0 0;
  word-break: break-word;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.survey-image img {
  display: flex;
  margin: 0 auto;
}

.survey-paragraph {
  font-size: 12px;
  line-height: 132%;
  color: #70899e;
}

.survey-paragraph p {
  font-size: 12px;
  line-height: 132%;
  color: #70899e;
}

.survey-paragraph ol,
.survey-paragraph ul {
  margin: 5px 0;
  padding-left: 20px;
}

.login-consent {
  margin: 0 0 30px;
  color: var(--dark-blue);
  font-size: 12px;
  font-weight: 500;
  line-height: 132%;
}

.login-consent a {
  color: var(--dark-blue);
}

.consent-item {
  display: block;
  color: #70899e;
  font-size: 12px;
  font-weight: 400;
  line-height: 152%;
  margin: 0 0 12px;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: flex-end;
  padding-left: 29px;
  position: relative;
  min-height: 16px;
  word-break: break-word;
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  opacity: 0;
  left: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  z-index: 1;
  cursor: pointer;
}

input[type="checkbox"]:checked ~ .checkmark:after {
  left: 5px;
  top: 2px;
  width: 3px;
  height: 7px;
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  border-radius: 0;
  position: absolute;
  content: "";
}

.survey-consent p {
  color: #70899e;
  font-size: 12px;
  font-weight: 400;
  line-height: 132%;
  margin: 0 4px 17px 0;
}

.copyright-links a,
.survey-consent p a {
  color: #70899e;
  font-size: 12px;
  text-decoration: underline;
  padding: 0 13px 0 0;
}

.survey-consent p a {
  padding: 0;
}

.copyright-links {
  margin: 0px 0 15px;
}

.matrix thead th {
  color: #70899e;
  font-size: 11px;
  text-align: center;
  font-weight: 400;
  padding: 2px 4px;
}

.matrix tbody tr {
  background: rgba(0, 74, 137, 0.08);
}

.matrix tbody tr td {
  text-align: center;
  min-width: 66px;
  font-size: 11px;
  padding: 7px 4px;
  color: var(--dark-blue);
  min-height: 24px;
  position: relative;
}

.matrix tbody tr td:first-child {
  text-align: left;
}

.matrix tbody tr td input[type="checkbox"],
.matrix tbody tr td input[type="radio"] {
  margin: 0 auto;
  top: 6px;
  left: 0;
  right: 0;
}

.matrix table {
  border-spacing: 0px 8px;
  border-collapse: separate;
}

.matrix tbody tr td span.checkmark {
  border: 1px solid var(--dark-blue);
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  right: 0;
}

textarea:focus-visible {
  outline: none;
  box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 36%);
}

.select-dropdown__button {
  min-height: 20px;
  max-width: 251px;
  min-width: 60px;
  padding: 8px 50px 8px 15px;
  font-size: 16px;
  line-height: 20px;
  background-size: 12px;
  box-shadow: 0px 1px 6px rgba(0, 102, 190, 0.2);
  border-radius: 30px;
  border: 0;
  color: #97b6cf;
  font-weight: 300;
  text-align: left;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background: var(--white)
    url(../componentAssets/images/arrow-down-sign.svg) no-repeat 93%
    center;
}

.select-dropdown__button span {
  font-size: 12px;
  font-weight: 300;
  color: #004A89;
}

.select-dropdown__list {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  max-width: 251px;
  margin: 8px 0 0;
  transform-origin: top left;
  transform: scale(1, 0);
  /* transition: all ease-in-out 0.3s; */
  border: 0.5px solid rgba(0, 102, 190, 0.06);
  box-sizing: border-box;
  box-shadow: 0 0 20px -3px rgb(0 102 190 / 18%);
  border-radius: 15px;
  width: 100%;
  padding: 8px;
  max-height: 170px;
  background-color: var(--white);
  background-clip: padding-box;
  z-index: 99;
}

.select-dropdown {
  overflow-y: auto;
  max-height: 150px;
  padding-right: 4px;
}

.select-dropdown__list .select-dropdown__option {
  font-size: 12px;
  line-height: 16px;
  padding: 0.3rem 0.8rem;
  border-radius: 15px;
  cursor: pointer;
  margin: 0 0 2px;
  word-break: break-word;
  white-space: normal;
  color: var(--dark-blue);
}

.dropdown-el {
  position: relative;
  max-width: 251px;
  width: 100%;
}

.dropdown-el.active .select-dropdown__list {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1, 1);
}

.select-dropdown__list .select-dropdown__option:hover {
  background: #cae2fb;
}

::-webkit-scrollbar-track {
  background: #dce6ef;
  border-radius: 20px;
  padding: 0 5px;
}

::-webkit-scrollbar-thumb {
  width: 14px;
  background: #97b6cf;
  border: 3px solid #dce6ef;
  border-radius: 15px;
}

::-webkit-scrollbar {
  width: 12px;
  border-radius: 20px;
}

.survey-question input[type="text"] {
  max-width: 211px;
  border-radius: 4px;
  background: var(--white);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.16);
  border: 0;
  font-size: 12px;
  padding: 10px 12px;
  width: 100%;
}

:focus-visible,
.form-section .form-group input:focus-visible {
  outline: none;
  box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 26%);
}

.form-group .select-dropdown__button span {
  font-weight: 400;
  /* color: rgb(112, 137, 158); */
  color:#004A89;
}

.survey-question input[type="text"]:focus-visible {
  outline: none;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.26);
}

::-webkit-input-placeholder {
  color: rgb(112, 137, 158);
  opacity: 1;
}

::-moz-placeholder {
  color: rgb(112, 137, 158);
  opacity: 1;
}

:-ms-input-placeholder {
  color: rgb(112, 137, 158);
  opacity: 1;
}

:-moz-placeholder {
  color: rgb(112, 137, 158);
  opacity: 1;
}

.question-title span {
  color: rgb(112, 137, 158);
  font-weight: 400;
  font-size: 12px;
  line-height: 132%;
  margin: 0 0 0 4px;
}

.question-title {
  display: inline-block;
  align-items: center;
}
.question-title > *{
  font-size: 12px;
  margin:0;
  font-weight: 500;
}

.rating-labels > div {
  color: #70899e;
  font-size: 11px;
  font-weight: 400;
  line-height: 132%;
  word-break: break-word;
}

.rating-block {
  display: flex;
  justify-content: flex-start;
}

.rating-stars,
.rating-numeric {
  display: inline-flex;
  flex-direction: row-reverse;
  margin: 0;
  padding-left: 0;
  width: auto;
  gap: 22px;
}

label.rating-option {
  /* border-radius: 32px;
background: rgba(0, 74, 137, 0.08);
color: var(--dark-blue); */
  font-size: 24px;
  /* font-weight: 400; */
  /* width: 24px;
height: 24px; */
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
  position: relative;
}

.rating-numeric label.rating-option {
  border-radius: 32px;
  background: rgba(0, 74, 137, 0.08);
  color: var(--dark-blue);
  font-size: 12px;
  font-weight: 400;
  width: 24px;
  height: 24px;
}

.rating-numeric label.rating-option:hover,
.rating-numeric label.rating-option:hover ~ label,
.rating-numeric input[type="radio"]:checked ~ label {
  background: var(--dark-blue);
  color: var(--white) !important;
}

.rating-labels {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  gap: 22px;
  padding: 5px 0 0;
}

/* label.rating-option:hover {
background: var(--dark-blue);
color: var(--white)!important;
} */
.rating-stars label.rating-option:hover ~ label svg path,
.rating-stars input:checked ~ label svg path,
.rating-stars label.rating-option:hover svg path {
  fill: inherit !important;
}

/* .modal.fade .modal-dialog {
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
} */

/* .modal-dialog-centered {
  align-items: center;
  display: flex;
  min-height: calc(100% - var(--bs-modal-margin) * 2);
} */
/* .cookieadd {
height: 100%;
left: 0;
outline: 0;
overflow-x: hidden;
overflow-y: auto;
position: fixed;
top: 0;
width: 100%;
} */
.cookieadd .modal-dialog, #thanks-modal .modal-dialog {
  height: 85%;
  max-width: 768px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 10;
}
#thanks-modal .modal-dialog {
  max-width: 720px;
}
.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}

.cookieadd .modal-header, #thanks-modal .modal-header {
  border: 0;
  justify-content: center;
  margin-bottom: 15px;
  padding: 18px 15px 0;
  position: relative;
  text-align: center;
}

.cookieadd .modal-header button.btn-close, #thanks-modal .modal-header button.btn-close {
  border: 0;
  color: #97b6cf;
  font-size: 17px;
  font-weight: 700;
  opacity: 1;
  position: absolute;
  right: 22px;
  top: 22px;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  flex: 1 1 auto;
  padding: 1rem;
  position: relative;
}

.cookieadd .modal-body {
  height: 100%;
  overflow: hidden;
}
#thanks-modal .modal-body .thanks-img,  #thanks-modal .modal-body .thanks-text{
  text-align: center;
}
/* #thanks-modal .modal-body .thanks-img img {
  max-width: 120px;
} */
#thanks-modal .survey-thanks {
padding: 0 0 30px;
max-height: 440px;
overflow-y: auto;
height: 100%;
}

#thanks-modal .modal-body .thanks-text p {
font-size: 16px;
color: #70899E;
font-weight: 400;
max-width: 580px;
margin: 0 auto;
}
#thanks-modal .modal-body .thanks-text h2, #thanks-modal .modal-body .thanks-text h2 p{
font-size: 56px;
font-weight: 500;
margin:0 0 16px;
color: #004A89;
max-width: 100%;
width:100%;
}
.modal-content .modal-body h6 {
  color: #70899e;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin: 0 0 0.5rem;
}

.used-cookies-table-top {
  height: 100%;
  margin-top: 20px;
  padding-top: 20px;
  position: relative;
}

.used-cookies-table-top:before {
  border-top: 0.5px dashed #70899e;
  content: "";
  left: -15px;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% + 30px);
}

.cookieadd .used-cookies-table {
  height: calc(100% - 135px);
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 315px;
}

table {
  border-collapse: collapse;
  caption-side: bottom;
}

.cookieadd .used-cookies-table table thead {
  background: var(--white);
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}

.used-cookies-table table thead th {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    0deg,
    var(--dark-blue) 12.9%,
    var(--dark-blue) 87.1%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: #00a993;
  font-size: 16px;
  font-weight: 500;
  min-width: 230px;
  padding: 0 10px 20px 0;
  text-align: left;
}

.used-cookies-table table td {
  color: #70899e;
  font-size: 15px;
  line-height: 27px;
  padding: 0 10px 20px 0;
  vertical-align: top;
}

.form-section .form-group input,
.form-section .form-group select {
  border-radius: 24px;
  background: var(--white);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.16);
  font-size: 12px;
  padding: 11px 12px;
  border: 0;
  max-width: 251px;
  width: 100%;
  color:#004A89;
}

.form-group .select-dropdown__button {
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.16);
}

label.form-label {
  color: var(--dark-blue);
  font-size: 12px;
  font-weight: 500;
  line-height: 132%;
  margin: 0 0 14px;
  display: block;
}

.form-section .form-group label.form-label {
  color: var(--dark-blue);
  font-size: 12px;
  font-weight: 500;
  line-height: 132%;
  padding-left: 12px;
  margin: 0 0 5px;
}

.form-section .form-group {
  margin: 0 0 16px;
  flex-direction: column;
  display: flex;
  width: 50%;
}

.form-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.form-section .form-group:nth-child(2n) {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: flex-end;
  box-sizing: border-box;
}
.form-section .form-group:nth-child(2n) .error-message{
    text-align: left;
  display: flex;
  width: 100%;
  padding: 0 0 0 56px;
}
.form-section .form-group:nth-child(2n) label.form-label {
  flex: 0 0 100%;
  padding: 0 0 0 65px;
  align-items: center;
  display: flex;
  width: 100%;
}

.consent-select {
  margin: 25px 0 35px;
}
/**css loader**/
.loader {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(79, 79, 79, 0.5);
  z-index: 9999;
  display: none;
}

.loader.show {
  display: block;
}

.loader_show {
  max-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  bottom: 0;
}

.loader-view {
  color: var(--white);
  position: relative;
  font-size: 11px !important;
  background: var(--white);
  animation: escaleY 1s infinite ease-in-out;
  width: 1.4em;
  height: 6em;
  animation-delay: -0.16s;
}

.loader-view:before,
.loader-view:after {
  content: "";
  position: absolute;
  top: 0;
  left: 2.6em;
  background: var(--white);
  width: 1.4em;
  height: 6em;
  animation: escaleY 1s infinite ease-in-out;
}

.loader-view:before {
  left: -2.6em;
  animation-delay: -0.32s;
}
.input-error,
.form-section .form-group .input-error,
.form-section .form-group select.input-error {
  box-shadow: 0 0 8px #ca2a48;
}

.error-message {
  color: #d61975;
  font-size: 13px;
  margin-top: 4px;
}
.survey-question .word-limit {
  font-size: 11px;
  color: #70899E;
  font-weight: 500;
  gap: 2px;
  line-height: normal;
  display: flex;
  justify-content: flex-end;
  margin: 3px 0 0;
}

@keyframes escaleY {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 6em;
    background: var(--light-blue);
    color: var(--light-blue);
  }

  40% {
    box-shadow: 0 -2em;
    height: 7.8em;
    background: var(--white);
    color: var(--white);
  }
}

/**css loader End **/
@media only screen and (max-width:991px){
  .cookieadd .modal-dialog {
    max-width: 700px;
  }
}

@media only screen and (max-width: 767px) {
  .informed-survey {
    margin: 16px auto;
    width: calc(100% - 32px);
  }
  .form-section .form-group:nth-child(2n) .error-message {
    padding: 0 0;
}
.informed-survey-header img {
  min-width: 40px;
}
  .form-section .form-group {
    margin: 0 0 32px;
    width: 100%;
  }

  .informed-survey-header h2 {
    font-size: 20px;
  }

  .form-section .form-group input,
  .form-section .form-group select {
    max-width: 100%;
  }

  .form-section .form-group:nth-child(2n) label.form-label {
    padding: 0 0 0 12px;
  }

  .dropdown-el {
    position: relative;
    max-width: 100%;
    width: 100%;
  }

  .informed-survey-body {
    padding: 24px 16px;
  }

  .consent-item {
    line-height: 132%;
  }

  .select-dropdown__button,
  .select-dropdown__list {
    max-width: 400px;
  }

  .select-dropdown__list .select-dropdown__option {
    font-size: 12px;
    line-height: 16px;
    padding: 0.2rem 0.7rem;
  }

  .select-dropdown__button {
    padding: 8px 50px 8px 15px;
    font-size: 12px;
    max-width: 100%;
  }

  .consent-select {
    margin: 8px 0 15px;
  }

  .copyright-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px 13px;
    flex-wrap: wrap;
  }

  .copyright-links a {
    font-size: 12px;
    padding: 0 0px 0 0;
  }

  #survey-form {
    gap: 40px;
  }

  .survey-consent p {
    margin: 45px 0px 13px 0;
    display: block;
  }

  .survey-consent p:last-child {
    margin-bottom: 0;
  }

  .form-footer {
    margin: 0px 0 0;
  }

  #survey-form {
    margin: 45px 0 0;
  }

  .select-dropdown__button span {
    font-size: 12px;
  }
  .cookieadd .modal-dialog, #thanks-modal .modal-dialog {
    width: 95%;
  }
  .modal-content .modal-body h6 {
    font-size: 14px;
  }
  .used-cookies-table table td {
    font-size: 13px;
    line-height: 18px;
    padding: 0 10px 15px 0;
  }
  .used-cookies-table table thead th {
    font-size: 14px;
    min-width: 150px;
    padding: 0 10px 15px 0;
  }
  .modal-header .modal-title {
    font-size: 15px;
  }
  .cookieadd .modal-body {
    padding-top: 0;
  }
  /* #thanks-modal .modal-body .thanks-img img {
    max-width: 90px;
} */
#thanks-modal .modal-body .thanks-text h2 , #thanks-modal .modal-body .thanks-text h2 p{
  font-size: 26px;
}
#thanks-modal .modal-body .thanks-text p {
font-size: 13px;
}
.survey-thanks {
padding: 0 0 12px;
}
#thanks-modal .modal-body {
padding-top: 0;
}
}

.toast-container {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1000;
}

.toast {
  background-color:#dc3545;;
  color: #fff;
  padding: 10px 20px;
  margin: 3px 0;
  border-radius: 3px 0 0 3px;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  transform: translateX(100%);
  font-size: 15px;
  font-family: 'Roboto';
  border: 1px solid #f12c3f;
}

.toast.show {
  opacity: 1;
  transform: translateX(0);
}

.toast.hide {
  opacity: 0;
  transform: translateX(100%);
}

