input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}

.selected-webinar-list table tr td.table_action table {
  border-spacing: 0;
}

.selected-webinar-list table tr td.table_action table tr {
  box-shadow: none;
}

.selected-webinar-list table tr td.table_action table tr td {
  padding: 0 12px 0 0;
}

.selected-webinar-list table tr td.table_action table tr td svg {
  max-width: 18px;
  width: 100%;
  max-height: 16px;
}

table.webinar-reader thead.sticky-header:after {
  display: none;
}

.top-header.webinar-view .page-title {
  padding: 0;
  display: flex;
  align-items: flex-end;
}

.webinar-view .clear-search {
  margin: 0;
}

.webinar-view .clear-search img {
  max-width: 24px;
  cursor: pointer;
}

.selected-webinar-list table {
  border-collapse: separate;
  border-spacing: 0px 26px;
  padding-left: 5px;
}

.selected-webinar-list table th {
  font-size: 13px;
  line-height: 15px;
  color: var(--blue);
  font-family: "Roboto-Medium";
  font-weight: 500;
  border: 0;
  padding: 10px 0;
}

.selected-webinar-list tbody tr {
  background: transparent;
  box-shadow: 0px 1px 6px rgba(0, 102, 190, 0.2);
  border-radius: 13px;
  border-spacing: 0px 10px;
}

.selected-webinar-list .table> :not(:first-child) {
  border-top: none;
}

.selected-webinar-list tbody tr:hover {
  box-shadow: 0px 2px 10px -3px rgb(0 102 190 / 60%);
}

.selected-webinar-list .table tr.seprator-add {
  box-shadow: none;
  height: 2px;
  border-radius: 0;
}

.selected-webinar-list .table tr.seprator-add td {
  padding: 0 0 1px;
  border-bottom: 1px dashed var(--light-blue);
  border-radius: 0;
}

.selected-webinar-list table tr td:first-child {
  border-radius: 13px 0 0 13px;
  padding: 15px 10px;
}

.selected-webinar-list table tr td:last-child {
  border-radius: 0px 13px 13px 0px;
  padding: 15px 10px 15px 0;
}

.selected-webinar-list table td {
  vertical-align: middle;
  font-size: 13px;
  line-height: 15px;
  color: #4e718e;
  font-family: "Roboto-Light";
  padding: 15px 0px;
  border: 0;
  background: var(--white);
}

.selected-webinar-list table .dropdown button {
  font-size: 13px;
  line-height: 15px;
  color: #4e718e;
  font-family: "Roboto-Light";
  padding: 6px 11px;
  border: 0;
}

.dropdown .btn.dropdown-toggle:active:focus,
.show>.btn-light.dropdown-toggle {
  box-shadow: 0px 0px 6px 0px rgb(0 102 190 / 60%);
  color: var(--blue);
}

.selected-webinar-list table .dropdown button {
  font-size: 13px;
  line-height: 15px;
  color: #4e718e;
  font-family: "Roboto-Light";
  padding: 6px 11px;
  border: 0;
}

.selected-webinar-list table .dropdown .dropdown-menu {
  border-radius: 13px;
  overflow: hidden;
  padding: 4px;
  border: 0;
  box-shadow: 0px 2px 10px 0px rgb(0 102 190 / 15%);
  inset: 3px auto auto 0px !important;
}

.selected-webinar-list table .dropdown .dropdown-menu a {
  font-size: 13px;
  line-height: 15px;
  color: #4e718e;
  font-family: "Roboto-Light";
  padding: 6px 11px;
  border-radius: 30px;
  margin: 0 0 2px;
}

.selected-webinar-list table .dropdown .dropdown-menu a:active {
  color: var(--white);
}

.download-excel img {
  max-width: 40px;
}

.readers.search_view .top-right-action {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.readers.search_view.mail_statss .top-right-action {
  width: auto;
}

.search_view .top-right-action .dropdown {
  min-width: 240px;
  max-width: 278px;
  width: 100%;
}

.top-right-action label {
  font-size: 16px;
  line-height: 21px;
  text-transform: capitalize;
  color: #004a89;
  margin-bottom: 7px;
}

.search_view .top-right-action .download-excel {
  flex: 0 0;
}

.search_view .top-right-action .col {
  padding-right: 20px;
}

.search_view .top-right-action .col:last-child {
  padding-right: 0;
}

.top-right-action .dropdown button {
  box-shadow: 0px 1px 6px rgb(0 102 190 / 20%);
  border-radius: 30px;
  border: 0;
  padding: 8px 35px 8px 20px;
  width: 100%;
  color: #97b6cf;
  font-family: "Roboto-Light";
  background: #fff url(http://localhost:3000/static/media/dropdown-arrow.a159b8bf1aff92097823.svg);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 93% center;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.top-right-action .dropdown button::after {
  display: none;
}

.search-bar form.d-flex,
.search-bar form.d-flex {
  flex-direction: column;
}

.search-bar form.d-flex input {
  font-size: 14px;
  font-family: "Roboto-Light";
}

.search-bar form.d-flex button {
  bottom: 0;
  height: 40px;
  top: auto;
}

.selected-webinar-list {
  display: flex;
  width: 100%;
}

.top-right-action .dropdown-menu {
  border-radius: 13px;
  overflow: hidden;
  padding: 4px;
  border: 0;
  box-shadow: 0px 2px 10px 0px rgb(0 102 190 / 15%);
  inset: 3px auto auto 0px !important;
  max-width: 290px;
  width: 100%;
}

.dropdown-menu .dropdown-item {
  font-size: 14px;
  text-decoration: none;
  white-space: normal;
  background-color: transparent;
  border: 0;
  word-break: break-word;
  color: #4e718e;
  font-family: "Roboto-Light";
  margin: 0 0 2px;
  border-radius: 30px;
}

.dropdown-menu .dropdown-item:hover {
  background: #e9ecef;
}

.dropdown-menu .dropdown-item:active,
.show>.btn.dropdown-toggle {
  color: var(--blue);
  box-shadow: 0px 0px 6px 0px rgb(0 102 190 / 60%);
  background: inherit;
}

.show>.btn-light.dropdown-toggle:focus {
  box-shadow: 0px 0px 6px 0px rgb(0 102 190 / 60%);
}

.dropdown-menu .dropdown-item:active {
  color: var(--white);
  background-color: var(--light-blue);
}

.top-right-action .select-event {
  margin-right: 20px;
}

.selected-webinar-list .list-webinar-readers {
  width: 400px;
  border: 1px dashed #0066be;
  border-radius: 30px;
  margin: 40px 0 0 30px;
  padding: 45px 20px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 102, 190, 0.2);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.selected-webinar-list .list-webinar-readers h3 {
  color: #0066be;
  font-family: "Roboto-Medium";
  margin: 0px 0 20px;
}

.selected-webinar-list .list-webinar-readers h2 {
  color: var(--light-blue);
  font-size: 36px;
  line-height: 42px;
  font-family: "Roboto-Bold";
  margin: 0 0 15px;
}

.list-webinar-readers span {
  font-size: 13px;
  line-height: 19px;
  text-transform: capitalize;
  color: #004a89;
  font-weight: 500;
}

.top-header.webinar-view .left-sided {
  flex: 0 0 50%;
}

.top-header.webinar-view .right-sided {
  justify-content: flex-end;
}


.top-header.webinar-view .right-sided button {
  margin: 0;
}

.top-header.webinar-view .right-sided .col:last-child {
  flex: 0 0;
}

.webinar-view .search-bar {
  max-width: 279px;
}

.top-header.webinar-view .right-sided .smart-list-download {
  margin-left: 20px;
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.top-header.webinar-view {
  margin-bottom: 35px;
}

.top-header.webinar-view .right-sided .smart-list-download button {
  margin: 0;
  height: 40px;
  border: 0;
  filter: drop-shadow(0px 1px 6px rgba(0, 102, 190, 0.2));
  border-radius: 30px;
  background: #FFFFFF;
}

.top-header.webinar-view .right-sided .smart-list-download button#test-table-xls-button {
  margin: 0;
}

.webinar-view .show-event-date p {
  color: #97B6CF;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  margin: 0;
}

.top-header.webinar-view .page-title {
  align-items: center;
  display: flex;
}

.select-event .dropdown,
.template_language .dropdown {
  min-width: 250px;
}

.top-header.webinar-view.last {
  margin-bottom: 0;
}

.select-mail-template .form-buttons.right-side {
  margin: 20px 0 0;
}

.select-mail-template .form-buttons.right-side button {
  min-width: 150px;
}

.select-mail-template .form-inline .form-group label {
  font-size: 16px;
  line-height: 21px;
  width: 100%;
  flex: 0 0 100%;
  margin-bottom: 7px;
}

.select-mail-template .form-inline .form-group input#email-address {
  max-width: 100%;
}

.event_edit .modal-header {
  margin: 0;
}

.event_edit .modal-body .hcp-add-form#upload-confirm form .form-group label {
  font-size: 16px;
  flex: 0 0 136px;
}

.event_edit.modal form#add_hcp_form .add_hcp_boxes {
  padding-right: 0;
}

.event_edit .modal-body .hcp-add-form form .form-group .dropdown.split-button-dropup .dropdown-menu {
  transform: translate(0px, 47px) !important;
}

.event_edit #add_hcp .modal-footer button.btn {
  margin: 14px 10px 0;
}

/* css */

.main-webinar-content {
  width: 100%;

  margin-top: 160px;
}

.websetting-content {
  position: relative;
  width: 50%;
  margin: 0 auto;
  border: 1px dashed #0066be;
  border-radius: 15px;
  padding: 40px 55px;
}

.websetting {
  display: flex;

  justify-content: space-evenly;

  margin-bottom: 11px;
}

.websetting span {
  width: 45%;
  color: #004A89;
}

.websetting-radio {
  display: flex;
  width: 45%;
}

.websetting-radio .form-check-label {
  min-width: 64px;
  color: #70899E;
}

.websetting-radio .button-reset {
  background-color: #6fd1c3;
  border-color: #6fd1c3;
  width: 97px;
  height: 19px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
}

button.btn.websetting-button {
  margin: 0 auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 130px;
  margin-top: 15px;
}




/**Library Style**/
.doc-content h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #0066BE;
  margin-bottom: 6px;
}

.doc-content-main-box .doc-content-header .doc-content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #0066BE;

}

.doc-content-main-box .nav-pills button.nav-link.active {
  color: #fff !important;
  box-shadow: -11px 0px 15px rgba(0, 102, 190, 0.1);
  background: #0066BE;
  border-color: #0066BE;
}

.doc-content-main-box .nav-pills .nav-link {
  background: #FFFFFF;
  border: 1px solid #0066BE;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #0066BE;
  padding: 13px 18px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  margin-right: 8px;
  min-width: 140px;
  display: inline-block;
  outline: 0;
}

.doc-content-main-box .doc-tab {
  margin: 16px auto 25px 0;
}

.doc-content-main-box .tab-content.doc-tab-content a.doc-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0066BE;
}

.doc-content-main-box ul.tab-mail-list.tag {
  padding: 0;
  border: 0;
}

.doc-content-main-box ul.tab-mail-list {
  padding: 20px 0;
  border-bottom: 1px dashed #D9D9D9;
}

.doc-content-main-box ul.tab-mail-list li {
  display: flex;
  align-items: center;
}

.doc-content-main-box ul.tab-mail-list li h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #70899E;
  min-width: 170px;
}

.doc-content-main-box ul.tab-mail-list li p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #70899E;

}

.doc-content-main-box .footer-btn-wrapper {
  margin: 20px auto;
  display: inline-flex;
  align-items: center;
}

.footer-btn-wrapper a.footer-btn {
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid #E7F4FF;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 8px 19px;
  margin-right: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #0066BE;
  transition: all 0.3s ease-in-out;
}

.footer-btn-wrapper a.footer-btn:hover {
  background: #E7F4FF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-color: #E7F4FF;
}



/* ============ Data-Tab  ============ */

.doc-content-main-box .data-main-box {
  background: #FBFDFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 30px;
  margin: 34px auto;
}

.doc-content-main-box ul.tab-mail-list.data {
  padding: 0;
  border: 0;
}

.doc-content-main-box ul.tab-mail-list.data li {
  margin-bottom: 10px;
}

.doc-content-main-box ul.tab-mail-list.data li h5 {
  min-width: 280px;
}

.doc-content-main-box ul.tab-mail-list.data li p {
  background: #F4FCFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-weight: 700;
  color: #0066BE;
  padding: 4px 20px;
  min-width: 98px;
  text-align: center;
}
.doc-content-main-box {
  background: #FFFFFF;
  box-shadow: 0px 3px 10px rgba(0, 102, 190, 0.2);
  border-radius: 20px;
  padding: 28px;
  margin: 40px auto;
  width: 500px;
  min-height: 570px;
}
.doc-content-main-box .doc-content-header {
  display: flex;
}

/**Library Style End**/