input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}

.selected-webinar-list table tr td.table_action table {
  border-spacing: 0;
}

.selected-webinar-list table tr td.table_action table tr {
  box-shadow: none;
}

.selected-webinar-list table tr td.table_action table tr td {
  padding: 0 12px 0 0;
}

.selected-webinar-list table tr td.table_action table tr td svg {
  max-width: 18px;
  width: 100%;
  max-height: 16px;
}

table.webinar-reader thead.sticky-header:after {
  display: none;
}

.top-header.webinar-view .page-title {
  padding: 0;
  display: flex;
  align-items: flex-end;
}

.webinar-view .clear-search {
  margin: 0;
}

.webinar-view .clear-search img {
  max-width: 24px;
  cursor: pointer;
}

.selected-webinar-list table {
  border-collapse: separate;
  border-spacing: 0px 26px;
  padding-left: 5px;
}

.selected-webinar-list table th {
  font-size: 13px;
  line-height: 15px;
  color: var(--blue);
  font-family: "Roboto-Medium";
  font-weight: 500;
  border: 0;
  padding: 10px 0;
}

.selected-webinar-list tbody tr {
  background: transparent;
  box-shadow: 0px 1px 6px rgba(0, 102, 190, 0.2);
  border-radius: 13px;
  border-spacing: 0px 10px;
}

.selected-webinar-list .table > :not(:first-child) {
  border-top: none;
}

.selected-webinar-list tbody tr:hover {
  box-shadow: 0px 2px 10px -3px rgb(0 102 190 / 60%);
}

.selected-webinar-list .table tr.seprator-add {
  box-shadow: none;
  height: 2px;
  border-radius: 0;
}

.selected-webinar-list .table tr.seprator-add td {
  padding: 0 0 1px;
  border-bottom: 1px dashed var(--light-blue);
  border-radius: 0;
}

.selected-webinar-list table tr td:first-child {
  border-radius: 13px 0 0 13px;
  padding: 15px 10px;
}

.selected-webinar-list table tr td:last-child {
  border-radius: 0px 13px 13px 0px;
  padding: 15px 10px 15px 0;
}

.selected-webinar-list table td {
  vertical-align: middle;
  font-size: 13px;
  line-height: 15px;
  color: #4e718e;
  font-family: "Roboto-Light";
  padding: 15px 0px;
  border: 0;
  background: var(--white);
}

.selected-webinar-list table .dropdown button {
  font-size: 13px;
  line-height: 15px;
  color: #4e718e;
  font-family: "Roboto-Light";
  padding: 6px 11px;
  border: 0;
}

.dropdown .btn.dropdown-toggle:active:focus,
.show > .btn-light.dropdown-toggle {
  box-shadow: 0px 0px 6px 0px rgb(0 102 190 / 60%);
  color: var(--blue);
}

.selected-webinar-list table .dropdown button {
  font-size: 13px;
  line-height: 15px;
  color: #4e718e;
  font-family: "Roboto-Light";
  padding: 6px 11px;
  border: 0;
}

.selected-webinar-list table .dropdown .dropdown-menu {
  border-radius: 13px;
  overflow: hidden;
  padding: 4px;
  border: 0;
  box-shadow: 0px 2px 10px 0px rgb(0 102 190 / 15%);
  inset: 3px auto auto 0px !important;
}

.selected-webinar-list table .dropdown .dropdown-menu a {
  font-size: 13px;
  line-height: 15px;
  color: #4e718e;
  font-family: "Roboto-Light";
  padding: 6px 11px;
  border-radius: 30px;
  margin: 0 0 2px;
}

.selected-webinar-list table .dropdown .dropdown-menu a:active {
  color: var(--white);
}

.download-excel img {
  max-width: 40px;
}

.readers.search_view .top-right-action {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.readers.search_view.mail_statss .top-right-action {
  width: auto;
}

.search_view .top-right-action .dropdown {
  min-width: 180px;
  max-width: 278px;
  width: 100%;
}

.top-right-action label {
  font-size: 16px;
  line-height: 21px;
  text-transform: capitalize;
  color: #004a89;
  margin-bottom: 7px;
}

.search_view .top-right-action .download-excel {
  flex: 0 0;
}

.search_view .top-right-action .col {
  padding-right: 20px;
}

.search_view .top-right-action .col:last-child {
  padding-right: 0;
}

.top-right-action .dropdown button,
.create-reader .form-group .dropdown button {
  box-shadow: 0px 1px 6px rgb(0 102 190 / 20%);
  border-radius: 30px;
  border: 0;
  padding: 8px 35px 8px 20px;
  width: 100%;
  color: #97b6cf;
  font-weight: 300;
  background: #fff url(../../../../Components/assets/images/dropdown-arrow.svg);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 93% center;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.top-right-action .dropdown button::after {
  display: none;
}

.search-bar form.d-flex,
.search-bar form.d-flex {
  flex-direction: column;
}

.search-bar form.d-flex input {
  font-size: 14px;
  font-weight: 300;
}

.search-bar form.d-flex button {
  bottom: 0;
  height: 40px;
  top: auto;
}

.selected-webinar-list {
  display: flex;
  width: 100%;
}

.top-right-action .dropdown-menu,
.create-reader .form-group .dropdown-menu {
  border-radius: 13px;
  overflow: hidden;
  padding: 4px;
  border: 0;
  box-shadow: 0px 2px 10px 0px rgb(0 102 190 / 15%);
  /* inset: 3px auto auto 0px !important; */
  max-width: 290px;
  width: 100%;
}

.dropdown-menu .dropdown-item {
  font-size: 14px;
  text-decoration: none;
  white-space: normal;
  background-color: transparent;
  border: 0;
  word-break: break-word;
  color: #4e718e;
  font-weight: 300;
  margin: 0 0 2px;
  border-radius: 30px;
}

.dropdown-menu .dropdown-item:hover {
  background: #e9ecef;
}

.dropdown-menu .dropdown-item:active,
.show > .btn.dropdown-toggle {
  color: var(--blue);
  box-shadow: 0px 0px 6px 0px rgb(0 102 190 / 60%);
  background-color: var(--white);
}

.show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0px 0px 6px 0px rgb(0 102 190 / 60%);
}

.dropdown-menu .dropdown-item:active {
  color: var(--white);
  background-color: var(--light-blue);
}

.top-right-action .select-event {
  margin-right: 20px;
}

.selected-webinar-list .list-webinar-readers {
  width: 400px;
  border: 1px dashed #0066be;
  border-radius: 30px;
  margin: 40px 0 0 30px;
  padding: 45px 20px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 102, 190, 0.2);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.selected-webinar-list .list-webinar-readers h3 {
  color: #0066be;
  font-weight: 500;
  margin: 0px 0 20px;
}

.selected-webinar-list .list-webinar-readers h2 {
  color: var(--light-blue);
  font-size: 36px;
  line-height: 42px;
  font-weight: bold;
  margin: 0 0 15px;
}

.list-webinar-readers span {
  font-size: 13px;
  line-height: 19px;
  text-transform: capitalize;
  color: #004a89;
  font-weight: 500;
}

.top-header.webinar-view .left-sided {
  flex: 0 0 50%;
}

.top-header.webinar-view .right-sided {
  justify-content: flex-end;
}

.top-header.webinar-view .right-sided button {
  margin: 0;
}

.top-header.webinar-view .right-sided .col:last-child {
  flex: 0 0;
}

.webinar-view .search-bar {
  max-width: 279px;
}

.top-header.webinar-view .right-sided .smart-list-download {
  margin-left: 20px;
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.top-header.webinar-view {
  margin-bottom: 35px;
}

.top-header.webinar-view .right-sided .smart-list-download button {
  margin: 0;
  height: 40px;
  border: 0;
  filter: drop-shadow(0px 1px 6px rgba(0, 102, 190, 0.2));
  border-radius: 30px;
  background: #ffffff;
}

.top-header.webinar-view
  .right-sided
  .smart-list-download
  button#test-table-xls-button {
  margin: 0;
}

.webinar-view .show-event-date p {
  color: #97b6cf;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  margin: 0;
}

.top-header.webinar-view .page-title {
  align-items: center;
  display: flex;
}

.select-event .dropdown,
.template_language .dropdown {
  min-width: 250px;
}

.top-header.webinar-view.last {
  margin-bottom: 0;
}

.select-mail-template .form-buttons.right-side {
  margin: 20px 0 0;
}

.select-mail-template .form-buttons.right-side button {
  min-width: 150px;
}

.select-mail-template .form-inline .form-group label {
  font-size: 16px;
  line-height: 21px;
  width: 100%;
  flex: 0 0 100%;
  margin-bottom: 7px;
}

.select-mail-template .form-inline .form-group input#email-address {
  max-width: 100%;
}

.event_edit .modal-header {
  margin: 0;
}

.event_edit .modal-body .hcp-add-form#upload-confirm form .form-group label {
  font-size: 16px;
  flex: 0 0 136px;
}

.event_edit.modal form#add_hcp_form .add_hcp_boxes {
  padding-right: 0;
}

.event_edit
  .modal-body
  .hcp-add-form
  form
  .form-group
  .dropdown.split-button-dropup
  .dropdown-menu {
  transform: translate(0px, 47px) !important;
}

.event_edit #add_hcp .modal-footer button.btn {
  margin: 14px 10px 0;
}

/* css */

.main-webinar-content {
  width: 100%;

  margin-top: 160px;
}

.websetting-content {
  position: relative;
  width: 50%;
  margin: 0 auto;
  border: 1px dashed #0066be;
  border-radius: 15px;
  padding: 40px 55px;
}

.websetting {
  display: flex;

  justify-content: space-evenly;

  margin-bottom: 11px;
}

.websetting span {
  width: 45%;
  color: #004a89;
}

.websetting-radio {
  display: flex;
  width: 45%;
}

.websetting-radio .form-check-label {
  min-width: 64px;
  color: #70899e;
}

.websetting-radio .button-reset {
  background-color: #6fd1c3;
  border-color: #6fd1c3;
  width: 97px;
  height: 19px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
}

button.btn.websetting-button {
  margin: 0 auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 130px;
  margin-top: 15px;
}





/** Responsive **/
@media only screen and (max-width:1715px) {
  .doc-content-main-box .nav-tabs .nav-item button {
    padding: 9px 8px;
  }

  .readers.search_view .top-right-action.library_content_view .search-bar {
    padding: 0;
    margin-right: 20px;
    max-width: 280px;
    width: 100%;
  }

  .smart-list-btns.readers-view {
    flex-direction: column;
  }

  .readers.search_view .top-right-action.library_content_view {
    margin-bottom: 20px;
    justify-content: flex-end;
  }

  .library-content-box-layuot {
    margin-top: 10px;
  }

  .readerlist .doc-content-main-box {
    padding: 20px 15px 15px;
  }

  .doc-content-main-box {
    flex: 0 0 31.3%;
  }

  .library-content-box-layuot {
    gap: 0% 3%;
  }

  .readerlist ul.tab-mail-list li .select-dropdown-wrapper {
    flex: 1;
  }

  .readerlist .doc-content-main-box ul.tab-mail-list li .select-dropdown-wrapper .select {
    min-width: 100%;
  }
}

@media only screen and (max-width:1550px) {
  .create-reader .form-control {
    padding: 9px 20px;
    height: 40px;
  }

  .create-reader .form-group {
    padding: 0 15px;
  }

  .create-reader .form-group .dropdown button {
    padding: 8px 20px;
  }

  .create-reader .form-group .form-product-list,
  .create-reader .form-group .form-interest-area {
    min-height: 90px;
  }

  .create-reader form {
    margin: 30px -15px 20px;
  }

  .create-reader .form-group .form-product-list select,
  .create-reader .form-group .form-interest-area select {
    height: auto;
  }

  nav #collapsibleNavbar li.nav-item a {
    padding: 0 30px;
  }

  header nav.navbar {
    padding: 12px 30px;
  }

  .create-reader textarea.form-control {
    height: 90px;
  }
}

/** Responssive End **/
