@use "sass:math";
@import "../src/Components/assets/css/mixins";
@import "../src/Components/assets/css/variables";
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.wrapper {
background-color: $background-color;
color: $text-color;
padding: $block-padding;
&__btns {
@include vertical-list;
button {
width: $btn-width;
height: $btn-height;
}
}
}
.container {
  display: flex;
}
.article[role="main"] {
  width: math.div(600px, 960px) * 100%;
}

.aside[role="complementary"] {
  width: math.div(300px, 960px) * 100%;
  margin-left: auto;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
